
/* Overrides for sites/all/modules/commerce_license/theme/commerce-license.css */

.commerce-license-duration {
    margin-left: 0;
    margin-top: 0;
}

.commerce-license-custom-expiry {
    margin-top: 30px;
}


/* Overrides for sites/all/modules/commerce_backoffice/theme/commerce-backoffice.css */

.page-admin-members .commerce-backoffice-view ul.action-links {
    height: 30px;
}


/* Overrides for sites/all/modules/views/css/views.css */

.page-admin-members .views-exposed-form .views-exposed-widget {
    padding: 1em 2em 0 0;
}

.page-admin-members .commerce-backoffice-view .views-exposed-form .views-exposed-widget label {
    width: 160px;
}
.page-admin-members .commerce-backoffice-view .views-exposed-form #edit-combine-wrapper.views-exposed-widget label {
    width: 520px;
}
.page-admin-members .commerce-backoffice-view .views-exposed-form .views-exposed-widget .form-item {
    width: 200px;
}
.page-admin-members .commerce-backoffice-view .views-exposed-form .views-exposed-widget .form-item > select {
    width: 200px;
}

@media all and (max-width : 860px) {

    .page-admin-members .commerce-backoffice-view .views-exposed-form #edit-combine-wrapper.views-exposed-widget label {
        display: none;
    }

}