
/* Navigation */

#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(1) a { color: #3d7dca; transition: all ease-in-out 150ms; } /* medium blue*/
#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(2) a { color: #61279e; transition: all ease-in-out 150ms; } /* purple */
#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(3) a { color: #b4008e; transition: all ease-in-out 150ms; } /* pink */
#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(4) a { color: #81bc00; transition: all ease-in-out 150ms; } /* green */
#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(5) a { color: #008996; transition: all ease-in-out 150ms; } /* teal */
#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(6) a { color: #00a1e0; transition: all ease-in-out 150ms; } /* light blue */
#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(7) a { color: #3d7dca; transition: all ease-in-out 150ms; } /* light blue */

#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(1) a { color: #00a1e0; transition: all ease-in-out 150ms; }
#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(2) a { color: #3d7dca; transition: all ease-in-out 150ms; }
#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(3) a { color: #61279e; transition: all ease-in-out 150ms; }
#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(4) a { color: #b4008e; transition: all ease-in-out 150ms; }
#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(5) a { color: #81bc00; transition: all ease-in-out 150ms; }

#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(1) a:hover { color: #6c7071; }
#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(2) a:hover { color: #6c7071; }
#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(3) a:hover { color: #6c7071; }
#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(4) a:hover { color: #6c7071; }
#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(5) a:hover { color: #6c7071; }
#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(6) a:hover { color: #6c7071; }
#main_nav #block-menu-block-1 .menu-block-wrapper > .menu > li:nth-of-type(7) a:hover { color: #6c7071; }

#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(1) a:hover { color: #6c7071; }
#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(2) a:hover { color: #6c7071; }
#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(3) a:hover { color: #6c7071; }
#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(4) a:hover { color: #6c7071; }
#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(5) a:hover { color: #6c7071; }

#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(1) > .menu { background: url('../img/focus_group_logo.png') center bottom 25px no-repeat #00a1e0; background-size: 60px; }
#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(2) > .menu { background: url('../img/focus_group_logo.png') center bottom 25px no-repeat #3d7dca; background-size: 60px; }
#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(3) > .menu { background: url('../img/focus_group_logo.png') center bottom 25px no-repeat #61279e; background-size: 60px; }
#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(4) > .menu { background: url('../img/focus_group_logo.png') center bottom 25px no-repeat #b4008e; background-size: 60px; }
#main_nav #block-menu-block-2 .menu-block-wrapper > .menu > li:nth-of-type(5) > .menu { background: url('../img/focus_group_logo.png') center bottom 25px no-repeat #81bc00; background-size: 60px; }

/* Mobile Navigation */

.menu_open #menu_overlay > .layer:nth-of-type(2) { transition-delay: 0ms; }
.menu_open #menu_overlay > .layer:nth-of-type(3) { transition-delay: 60ms; }
.menu_open #menu_overlay > .layer:nth-of-type(4) { transition-delay: 120ms; }
.menu_open #menu_overlay > .layer:nth-of-type(5) { transition-delay: 180ms; }
.menu_open #menu_overlay > .layer:nth-of-type(6) { transition-delay: 240ms; }
.menu_open #menu_overlay > .layer:nth-of-type(7) { transition-delay: 300ms; }

#menu_overlay .layer:nth-of-type(2) { z-index: 420; background-color: #81bc00; transition-delay: 300ms; }
#menu_overlay .layer:nth-of-type(3) { z-index: 422; background-color: #b4008e; transition-delay: 240ms; }
#menu_overlay .layer:nth-of-type(4) { z-index: 424; background-color: #61279e; transition-delay: 180ms; }
#menu_overlay .layer:nth-of-type(5) { z-index: 426; background-color: #3d7dca; transition-delay: 120ms; }
#menu_overlay .layer:nth-of-type(6) { z-index: 428; background-color: #008996; transition-delay: 60ms; }
#menu_overlay .layer:nth-of-type(7) { z-index: 430; background-color: #00a1e0; transition-delay: 0ms; }

/* Main Header */

/* Default node page main header styles */
.page-node #main_header .info .boxes .box { background-color: #951c81; }
.page-node #main_header .images .image { background: url('../img/header_watermark.png') right -120px top -40px no-repeat #0e6fb8; background-size: auto 120%; }

/* Overriding node page main header */
.page-node-8 #main_header .info .boxes .box,
.node-type-page-news #main_header .info .boxes .box { background-color: #951c81; }
.page-node-8 #main_header .images .image,
.node-type-page-news #main_header .images .image { background: url('../img/header_watermark.png') right -120px top -40px no-repeat #0e6fb8; background-size: auto 120%; }

.page-node-3 #main_header .info .boxes .box,
.node-type-conference #main_header .info .boxes .box,
.node-type-event #main_header .info .boxes .box { background-color: #61279e; }
.page-node-3 #main_header .images .image,
.node-type-conference #main_header .images .image,
.node-type-event #main_header .images .image { background: url('../img/header_watermark.png') right -120px top -40px no-repeat #951c81; background-size: auto 120%; }

.page-node-13 #main_header .info .boxes .box,
.node-type-publications #main_header .info .boxes .box { background-color: #81bc00; }
.page-node-13 #main_header .images .image,
.node-type-publications #main_header .images .image { background: url('../img/header_watermark.png') right -120px top -40px no-repeat #008996; background-size: auto 120%; }

.page-node-32 #main_header .info .boxes .box,
.node-type-content-members-only #main_header .info .boxes .box,
.node-type-page-basic-membership-section- #main_header .info .boxes .box { background-color: #00a1e0; }
.page-node-32 #main_header .images .image,
.node-type-content-members-only #main_header .images .image,
.node-type-page-basic-membership-section- #main_header .images .image { background: url('../img/header_watermark.png') right -120px top -40px no-repeat #81bc00; background-size: auto 120%; }

.page-node-16 #main_header .info .boxes .box,
.page-node-63 #main_header .info .boxes .box,
.node-type-page-basic-about-section- #main_header .info .boxes .box { background-color: #3d7dca; }
.page-node-16 #main_header .images .image,
.page-node-63 #main_header .images .image,
.node-type-page-basic-about-section- #main_header .images .image { background: url('../img/header_watermark.png') right -120px top -40px no-repeat #00a1e0; background-size: auto 120%; }

.page-node-21 #main_header .info .boxes .box,
.node-type-page-basic-conference-section- #main_header .info .boxes .box { background-color: #61279e; }
.page-node-21 #main_header .images .image,
.node-type-page-basic-conference-section- #main_header .images .image { background: url('../img/header_watermark.png') right -120px top -40px no-repeat #b4008e; background-size: auto 120%; }

.page-node-31 #main_header .info .boxes .box,
.node-type-page-basic-risk-awards-section- #main_header .info .boxes .box { background-color: #b4008e; }
.page-node-31 #main_header .images .image,
.node-type-page-basic-risk-awards-section- #main_header .images .image { background: url('../img/header_watermark.png') right -120px top -40px no-repeat #3d7dca; background-size: auto 120%; }

.page-node-23 #main_header .info .boxes .box,
.node-type-page-basic-resources-section- #main_header .info .boxes .box { background-color: #81bc00; }
.page-node-23 #main_header .images .image,
.node-type-page-basic-resources-section- #main_header .images .image { background: url('../img/header_watermark.png') right -120px top -40px no-repeat #008996; background-size: auto 120%; }

.page-node-34 #main_header .info .boxes .box,
.page-node-35 #main_header .info .boxes .box,
.node-type-job-advert #main_header .info .boxes .box { background-color: #008996; }
.page-node-34 #main_header .images .image,
.page-node-35 #main_header .images .image,
.node-type-job-advert #main_header .images .image { background: url('../img/header_watermark.png') right -120px top -40px no-repeat #61279e; background-size: auto 120%; }

.node-type-forum #main_header .info .boxes .box { background-color: #00a1e0; }
.node-type-forum #main_header .images .image { background: url('../img/header_watermark.png') right -120px top -40px no-repeat #81bc00; background-size: auto 120%; }

/* Content */

.page-node-3 #main_content,
.page-node-8 #main_content,
.page-node-24 #main_content,
.page-node-35 #main_content { display: none; }

.node-type-page-news #main_content .btn { background-color: #951c81; }
.node-type-page-news #main_content .side_col .box .inner { background-color: rgba(180, 0, 142, 0.15); }
.node-type-page-news #main_content .side_col .box .placeholder_image { background-color: #0e6fb8; }
.node-type-page-news #main_content .side_col .menu-block-wrapper > .menu > li { border-color: #0e6fb8; }

.node-type-event #main_content .btn,
.node-type-event #main_content .pricing_table input[type="submit"] { background: #61279e; }
.node-type-event #main_content .pricing_table .row .quantity input { background: rgba(97, 39, 158, 0.15); }
.node-type-event #main_content .side_col .box .inner { background-color: rgba(97, 39, 158, 0.15); }
.node-type-event #main_content .side_col .box .placeholder_image { background-color: #941d80; }
.node-type-event #main_content .side_col .menu-block-wrapper > .menu > li { border-color: #951c81; }

.node-type-conference #main_content .btn,
.node-type-conference #main_content .pricing_table input[type="submit"] { background: #61279e; }

.node-type-publications #main_content .btn,
.node-type-publications #main_content .pricing_table input[type="submit"] { background: #81bc00; }
.node-type-publications #main_content .pricing_table .row .quantity input { background: rgba(129, 188, 0, 0.15); }
.node-type-publications #main_content .side_col .box .inner { background-color: rgba(129, 188, 0, 0.15); }
.node-type-publications #main_content .side_col .box .placeholder_image { background-color: #0e6fb8; }
.node-type-publications #main_content .side_col .menu-block-wrapper > .menu > li { border-color: #008996; }

.node-type-job-advert #main_content .btn,
.node-type-job-advert #main_content .pricing_table input[type="submit"] { background: #008996; }
.node-type-job-advert #main_content .side_col .box .inner { background-color: rgba(0, 137, 150, 0.15); }
.node-type-job-advert #main_content .side_col .box .placeholder_image { background-color: #61279e; }
.node-type-job-advert #main_content .side_col .menu-block-wrapper > .menu > li { border-color: #61279e; }

.node-type-page-basic-about-section- #main_content .side_col .box .inner .info { background-color: rgba(61, 125, 202, 0.15); }
.node-type-page-basic-about-section- #main_content .side_col .box .inner .info .btn { background-color: #3d7dca; }
.node-type-page-basic-about-section- #main_content .side_col .box .inner .placeholder_image { background-color: #00a1e0; }
.node-type-page-basic-about-section- #main_content .side_col .menu-block-wrapper > .menu > li { border-color: #00a1e0; }

.node-type-page-basic-conference-section- #main_content .side_col .box .inner .info { background-color: rgba(96, 39, 157, 0.15); }
.node-type-page-basic-conference-section- #main_content .side_col .box .inner .info .btn { background-color: #61279e; }
.node-type-page-basic-conference-section- #main_content .side_col .box .inner .placeholder_image { background-color: #b4008e; }
.node-type-page-basic-conference-section- #main_content .side_col .menu-block-wrapper > .menu > li { border-color: #b4008e; }

.node-type-page-basic-resources-section- #main_content .side_col .box .inner .info { background-color: rgba(129, 188, 0, 0.15); }
.node-type-page-basic-resources-section- #main_content .side_col .box .inner .info .btn { background-color: #81bc00; }
.node-type-page-basic-resources-section- #main_content .side_col .box .inner .placeholder_image { background-color: #008996; }
.node-type-page-basic-resources-section- #main_content .side_col .menu-block-wrapper > .menu > li { border-color: #008996; }

.node-type-page-basic-risk-awards-section- #main_content .side_col .box .inner .info { background-color: rgba(180, 0, 141, 0.15); }
.node-type-page-basic-risk-awards-section- #main_content .side_col .box .inner .info .btn { background-color: #b4008e; }
.node-type-page-basic-risk-awards-section- #main_content .side_col .box .inner .placeholder_image { background-color: #3d7dca; }
.node-type-page-basic-risk-awards-section- #main_content .side_col .menu-block-wrapper > .menu > li { border-color: #3d7dca; }

.node-type-page-basic-membership-section- #main_content .side_col .box .inner .info { background-color: rgba(0, 161, 224, 0.15); }
.node-type-page-basic-membership-section- #main_content .side_col .box .inner .info .btn { background-color: #00a1e0; }
.node-type-page-basic-membership-section- #main_content .side_col .box .inner .placeholder_image { background-color: #81bc00; }
.node-type-page-basic-membership-section- #main_content .side_col .menu-block-wrapper > .menu > li { border-color: #80bc01; }

.node-type-content-members-only #main_content .side_col .box .inner .info { background-color: rgba(0, 161, 224, 0.15); }
.node-type-content-members-only #main_content .side_col .box .inner .info .btn { background-color: #00a1e0; }
.node-type-content-members-only #main_content .side_col .box .inner .placeholder_image { background-color: #81bc00; }
.node-type-content-members-only #main_content .side_col .menu-block-wrapper > .menu > li { border-color: #80bc01; }

/* Downloads */

.node-type-page-basic-about-section- #main_content .main_col .body .field-name-field-downloads .file a { background-color: rgba(61, 125, 202, 0.15); }
.node-type-page-basic-about-section- #main_content .main_col .body .field-name-field-downloads .file a::after { background-color: #3d7dca; }
.node-type-page-basic-about-section- #main_content .main_col .body .field-name-field-downloads-listing > .field-items > .field-item { background-color: rgba(0, 161, 224, 0.15); }
.node-type-page-basic-about-section- #main_content .main_col .body .field-name-field-downloads-listing .field-name-field-file-image { background-color: rgba(0, 161, 224, 0.4); }
.node-type-page-basic-about-section- #main_content .main_col .body .field-name-field-downloads-listing .field-name-field-download a { background-color: #3d7dca; }

.node-type-page-basic-conference-section- #main_content .main_col .body .field-name-field-downloads .file a { background-color: rgba(97, 39, 158, 0.15); }
.node-type-page-basic-conference-section- #main_content .main_col .body .field-name-field-downloads .file a::after { background-color: #61279e; }
.node-type-page-basic-conference-section- #main_content .main_col .body .field-name-field-downloads-listing > .field-items > .field-item { background-color: rgba(180, 0, 142, 0.15); }
.node-type-page-basic-conference-section- #main_content .main_col .body .field-name-field-downloads-listing .field-name-field-file-image { background-color: rgba(180, 0, 142, 0.4); }
.node-type-page-basic-conference-section- #main_content .main_col .body .field-name-field-downloads-listing .field-name-field-download a { background-color: #61279e; }

.node-type-page-basic-resources-section- #main_content .main_col .body .field-name-field-downloads .file a { background-color: rgba(129, 188, 0, 0.15); }
.node-type-page-basic-resources-section- #main_content .main_col .body .field-name-field-downloads .file a::after { background-color: #81bc00; }
.node-type-page-basic-resources-section- #main_content .main_col .body .field-name-field-downloads-listing > .field-items > .field-item { background-color: rgba(0, 137, 150, 0.15); }
.node-type-page-basic-resources-section- #main_content .main_col .body .field-name-field-downloads-listing .field-name-field-file-image { background-color: rgba(0, 137, 150, 0.4); }
.node-type-page-basic-resources-section- #main_content .main_col .body .field-name-field-downloads-listing .field-name-field-download a { background-color: #81bc00; }

.node-type-page-basic-risk-awards-section- #main_content .main_col .body .field-name-field-downloads .file a { background-color: rgba(180, 0, 141, 0.15); }
.node-type-page-basic-risk-awards-section- #main_content .main_col .body .field-name-field-downloads .file a::after { background-color: #b4008e; }
.node-type-page-basic-risk-awards-section- #main_content .main_col .body .field-name-field-downloads-listing > .field-items > .field-item { background-color: rgba(61, 124, 203, 0.15); }
.node-type-page-basic-risk-awards-section- #main_content .main_col .body .field-name-field-downloads-listing .field-name-field-file-image { background-color: rgba(61, 124, 203, 0.4); }
.node-type-page-basic-risk-awards-section- #main_content .main_col .body .field-name-field-downloads-listing .field-name-field-download a { background-color: #b4008e; }

.node-type-page-basic-membership-section- #main_content .main_col .body .field-name-field-downloads .file a { background-color: rgba(0, 161, 224, 0.15); }
.node-type-page-basic-membership-section- #main_content .main_col .body .field-name-field-downloads .file a::after { background-color: #00a1e0; }
.node-type-page-basic-membership-section- #main_content .main_col .body .field-name-field-downloads-listing > .field-items > .field-item { background-color: rgba(129, 188, 0, 0.15); }
.node-type-page-basic-membership-section- #main_content .main_col .body .field-name-field-downloads-listing .field-name-field-file-image { background-color: rgba(129, 188, 0, 0.4); }
.node-type-page-basic-membership-section- #main_content .main_col .body .field-name-field-downloads-listing .field-name-field-download a { background-color: #00a1e0; }

.node-type-event #main_content .main_col .body .field-name-field-downloads .file a { background-color: rgba(97, 39, 158, 0.15); }
.node-type-event #main_content .main_col .body .field-name-field-downloads .file a::after { background-color: #61279e; }
.node-type-event #main_content .main_col .body .field-name-field-downloads-listing > .field-items > .field-item { background-color: rgba(148, 29, 128, 0.15); }
.node-type-event #main_content .main_col .body .field-name-field-downloads-listing .field-name-field-file-image { background-color: rgba(148, 29, 128, 0.4); }
.node-type-event #main_content .main_col .body .field-name-field-downloads-listing .field-name-field-download a { background-color: #61279e; }

/* Listing */

#news_listing .view_all { background-color: #b4008e; }
#news_listing .list .item .info,
#news_listing .list .item .info::after { background-color: rgba(180, 0, 142, 0.15); }
#news_listing .list .item .info .btn { background-color: #b4008e; }
#news_listing .list .item .placeholder_image { background-color: #0e6fb8; }

#events_listing .view_all { background-color: #61279e; }
#events_listing .list .item .info,
#events_listing .list .item .info::after { background-color: rgba(97, 39, 158, 0.15); }
#events_listing .list .item .info .btn { background-color: #61279e; }
#events_listing .list .item .placeholder_image { background-color: #951c81; }

#publications_listing .view_all { background-color: #96c120; }
#publications_listing .list .item .info { background-color: rgba(129, 188, 0, 0.15); }
#publications_listing .list .item .info .btn { background-color: #96c120; }
#publications_listing .list .item .placeholder_image { background-color: #12a19a; }

#jobs_listing .list .item .info { background-color: rgba(0, 137, 150, 0.15); }
#jobs_listing .list .item .info .btn { background-color: #008996; }
#jobs_listing .list .item .placeholder_image { background-color: #61279e; }

#people_listing .list .item .info { background-color: rgba(61, 125, 202, 0.15); }
#people_listing .list .item .info .btn { background-color: #3d7dca; }
#people_listing .list .item .placeholder_image { background-color: #00a1e0; }

#resource_pages_listing .list .item .info { background-color: rgba(0, 137, 150, 0.15); }
#resource_pages_listing .list .item .info .btn { background-color: #008996; }
#resource_pages_listing .list .item .placeholder_image { background-color: #81bc00; }

#members_search_listing .list .item .info { background-color: rgba(0, 137, 150, 0.15); }

#focus_groups_listing .list .item[data-focus-group="1"] .btn { background-color: #61279e; }
#focus_groups_listing .list .item[data-focus-group="2"] .btn { background-color: #008996; }
#focus_groups_listing .list .item[data-focus-group="3"] .btn { background-color: #b4008e; }
#focus_groups_listing .list .item[data-focus-group="4"] .btn { background-color: #00a1e0; }
#focus_groups_listing .list .item[data-focus-group="5"] .btn { background-color: #81bc00; }
#focus_groups_listing .list .item[data-focus-group="6"] .btn { background-color: #3d7dca; }

#focus_groups_listing .list .item[data-focus-group="1"] .background { background: url('../img/focus_group_logo.png') right -75px bottom -100px no-repeat #61279e; }
#focus_groups_listing .list .item[data-focus-group="2"] .background { background: url('../img/focus_group_logo.png') right -75px bottom -100px no-repeat #008996; }
#focus_groups_listing .list .item[data-focus-group="3"] .background { background: url('../img/focus_group_logo.png') right -75px bottom -100px no-repeat #b4008e; }
#focus_groups_listing .list .item[data-focus-group="4"] .background { background: url('../img/focus_group_logo.png') right -75px bottom -100px no-repeat #00a1e0; }
#focus_groups_listing .list .item[data-focus-group="5"] .background { background: url('../img/focus_group_logo.png') right -75px bottom -100px no-repeat #81bc00; }
#focus_groups_listing .list .item[data-focus-group="6"] .background { background: url('../img/focus_group_logo.png') right -75px bottom -100px no-repeat #3d7dca; }