/* Shopping Cart (Menu) */

#menu_blocks .block-commerce-cart { position: absolute; right: -94px; bottom: 6px; width: 33px; height: 28px; }
#menu_blocks .block-commerce-cart h2,
#menu_blocks .block-commerce-cart .view-content,
#menu_blocks .block-commerce-cart .line-item-total,
#menu_blocks .block-commerce-cart .cart-empty-block,
#menu_blocks .block-commerce-cart .line-item-quantity-label,
#menu_blocks .block-commerce-cart .line-item-summary-checkout { display: none; }
#menu_blocks .block-commerce-cart .line-item-summary-view-cart { display: block; width: 33px; height: 28px; background: url('../img/cart.png') center center no-repeat; background-size: 100% auto; font-size: 1px; color: #fff; opacity: 1; }
#menu_blocks .block-commerce-cart .line-item-summary-view-cart a { display: block; width: 33px; height: 28px; }
#menu_blocks .block-commerce-cart .line-item-quantity-raw { z-index: -100; position: absolute; left: 8px; top: 2px; width: 20px; font-size: 14px; font-weight: 700; color: #00a1db; text-align: center; }
#menu_blocks .block-commerce-cart .line-item-summary { padding: 0; margin: 0; border: 0; }

/* Shopping Cart (Mobile Menu) */

#menu_blocks_mobile .block-commerce-cart { position: absolute; right: 72px; top: 45px; width: 33px; height: 28px; }
#menu_blocks_mobile .block-commerce-cart h2,
#menu_blocks_mobile .block-commerce-cart .view-content,
#menu_blocks_mobile .block-commerce-cart .line-item-total,
#menu_blocks_mobile .block-commerce-cart .cart-empty-block,
#menu_blocks_mobile .block-commerce-cart .line-item-quantity-label,
#menu_blocks_mobile .block-commerce-cart .line-item-summary-checkout { display: none; }
#menu_blocks_mobile .block-commerce-cart .line-item-summary-view-cart { display: block; width: 33px; height: 28px; background: url('../img/cart-ffffff.png') center center no-repeat; background-size: 100% auto; font-size: 1px; color: #fff; opacity: 1; }
#menu_blocks_mobile .block-commerce-cart .line-item-summary-view-cart a { display: block; width: 33px; height: 28px; }
#menu_blocks_mobile .block-commerce-cart .line-item-quantity-raw { z-index: -100; position: absolute; left: 8px; top: 2px; width: 20px; font-size: 14px; font-weight: 700; color: #fff; text-align: center; }
#menu_blocks_mobile .block-commerce-cart .line-item-summary { padding: 0; margin: 0; border: 0; }

/* Checkout Progress */

.commerce-checkout-progress { width: 100%; padding: 0 15px 30px 15px; }
.commerce-checkout-progress li { width: auto !important; text-align: left; text-transform: uppercase; color: #666; }
.commerce-checkout-progress li::after { content: '>'; margin: 0 15px; color: #999; }
.commerce-checkout-progress li.last::after { color: transparent; /* Using this instead of display: none because of strange rendering bug, causing line break in li text */ }
.commerce-checkout-progress li.visited { font-weight: 900; color: #333; }
.commerce-checkout-progress li.active { font-weight: 900; color: #12a19a; }
.page-cart .commerce-checkout-progress li { line-height: 35px; }
.page-cart .commerce-checkout-progress li.visited { font-weight: normal; color: #666; }

/* Cart */

.page-cart #main_header { display: none; }
.page-cart #main_content form { padding: 0 15px; }
.page-cart #main_content form table { width: 100% !important; }
.page-cart #main_content form table tr td { vertical-align: middle; padding: 15px 0; text-align: right; }
.page-cart #main_content form table tr td img { display: block; border: 2px solid #ddd; }
.page-cart #main_content form table tr td.views-field-line-item-title { text-align: left; }
.page-cart #main_content form table tr td.views-field-field-header-image { width: 90px; padding-right: 30px; }
.page-cart #main_content form table tr td.views-field-edit-delete { width: 50px; padding-left: 20px; }
.page-cart #main_content form table tr td.views-field-edit-delete input { width: 30px; height: 30px; padding: 15px 0; background: url('../img/remove.png') center no-repeat; cursor: pointer; font-size: 0; color: transparent; border: 0; margin: 0; }
.page-cart #main_content form table tr td.views-field-edit-quantity { width: 70px; padding-left: 30px; text-align: center; }
.page-cart #main_content form table tr td.views-field-edit-quantity input { width: 54px; height: 40px; margin: 0; text-align: center; font-size: 16px; line-height: 40px; border: 2px solid #ddd; color: #000; }
.page-cart #main_content form table tr td.views-field-edit-quantity span.fixed-qty { display: block; width: 54px; height: 40px; margin: 0; text-align: center; font-size: 16px; line-height: 40px; border: 2px solid #ddd; color: #000; }
.page-cart #main_content .line-item-summary { padding-top: 30px; border-top: 2px solid #ddd; margin-top: 15px; overflow: hidden; display: none; }
.page-cart #main_content .line-item-summary .line-item-total-label { float: left; font-size: 20px; }
.page-cart #main_content .line-item-summary .line-item-total-raw { float: right; font-size: 20px; color: #12a199; font-weight: bold; }
.page-cart #main_content .commerce-line-item-actions { padding-top: 30px; border-top: 2px solid #ddd; margin-top: 30px; }
.page-cart #main_content .commerce-line-item-actions input { font-family: 'Exo', sans-serif; font-size: 18px; font-weight: 700; color: #fff; display: inline-block; padding: 15px 30px; margin: 0 0 0 30px; text-align: center; text-transform: uppercase; background-color: #78bb32; border: 0; }
.page-cart #main_content .view-header h1 { padding: 0 15px; }
.page-cart #main_content .empty-cart { padding: 0 15px; }
.page-cart #main_content .empty-cart h1 { color: #50535a; margin-bottom: 5px; }
.page-cart #main_content .empty-cart a { display: inline-block; background-color: #12a19a; text-decoration: none; text-transform: uppercase; color: #fff; padding: 10px 20px 10px 20px; }

/* Checkout */

.page-checkout #main_header { display: none; }
.page-checkout #main_content .main_col { width: 100%; padding: 0; }
.page-checkout #main_content .side_col { display: none; }
.page-checkout #main_content .left_column { float: none; width: 100%; }
.page-checkout #main_content .main_col .body legend { display: block; }
.page-checkout #main_content table { width: 100% !important; }
.page-checkout #main_content table tr td { vertical-align: middle; padding: 30px 0; }
.page-checkout #main_content table tr td img { display: block; border: 2px solid #ddd; }
.page-checkout #main_content fieldset { float: left; width: calc(100% - 350px); padding-right: 4vw; margin-bottom: 25px; }
.page-checkout #main_content .main_col.full_width fieldset { float: none; width: 100%; padding: 0; }
.page-checkout #main_content .main_col.full_width fieldset > .fieldset-wrapper > div:not([class]) { margin: 15px 0; padding: 0 15px; }
.page-checkout #main_content fieldset fieldset { float: none; width: 100%; padding: 0; margin: 0; }
.page-checkout #main_content fieldset legend { font-size: 22px; font-weight: 700; line-height: 26px; text-transform: uppercase; padding: 0 15px; margin-bottom: 15px; }
.page-checkout #main_content fieldset .fieldset-wrapper > span { padding: 0 15px 30px 15px; margin: 0; }
.page-checkout #main_content fieldset .form-item { position: relative; width: 100%; padding: 0 15px 30px 15px; margin: 0; }
.page-checkout #main_content fieldset .field-type-field-collection fieldset.form-wrapper { padding: 0 15px 30px 15px; margin: 0; }
.page-checkout #main_content fieldset .field-type-field-collection fieldset.form-wrapper legend { padding: 0; }
.page-checkout #main_content fieldset .form-item label { position: absolute; top: 20px; font-size: 16px; line-height: 20px; color: #888; padding-left: 12px; margin: 10px 0 0 0; text-transform: none; transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 150ms; pointer-events: none; }
.page-checkout #edit-commerce-payment-payment-method .form-item label { pointer-events: auto; }
.page-checkout #main_content fieldset .form-item input[type="text"] { font-size: 16px; line-height: 20px; width: 100%; height: 60px; padding: 15px 10px; border: 2px solid #ddd; border-radius: 0; background: #fff; transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 150ms; -webkit-appearance: none; }
.page-checkout #main_content fieldset .form-item input[type="radio"] { padding: 0; height: 20px; width: 100%; }
.page-checkout #main_content fieldset .form-item input[type="radio"] + label,
.page-checkout #main_content fieldset .form-item.form-type-radio label { left: 30px; top: -2px; font-size: 18px; line-height: 24px; padding-right: 15px; }
.page-checkout #main_content fieldset .form-item textarea { clear: both; width: 100%; background-color: #fff; border: 2px solid #ddd; }
.page-checkout #main_content fieldset .form-item textarea:focus { border-color: #969595; }
.page-checkout #main_content fieldset .form-item select { font-size: 16px; line-height: 20px; width: 100%; height: 60px; padding: 28px 10px 8px 10px; border: 2px solid #ddd; border-radius: 0; background: url('../img/littlepointthing.png') center right 15px no-repeat #fff; transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 150ms; -webkit-appearance: none; }
.page-checkout #main_content fieldset .form-item input:focus,
.page-checkout #main_content fieldset .form-item select:focus { border-color: #969595; }
.page-checkout #main_content fieldset .form-type-select label,
.page-checkout #main_content fieldset .form-item.has_value label { font-size: 12px; line-height: 12px; top: 12px; }
.page-checkout #main_content fieldset .form-item.has_value input[type="text"] { padding: 28px 10px 8px 10px; }
.page-checkout #main_content fieldset .form-item.has_value textarea { padding: 28px 10px 15px 10px; }
.page-checkout #main_content fieldset .form-item-customer-profile-shipping-commerce-customer-address-und-0-administrative-area,
.page-checkout #main_content fieldset .form-item-customer-profile-shipping-commerce-customer-address-und-0-postal-code,
.page-checkout #main_content fieldset .form-item-customer-profile-billing-commerce-customer-address-und-0-administrative-area,
.page-checkout #main_content fieldset .form-item-customer-profile-billing-commerce-customer-address-und-0-postal-code { float: left !important; width: 50%; }

.page-checkout #main_content .field-name-commerce-customer-address { margin-top: -20px; }
.page-checkout #main_content .field-name-commerce-customer-address .thoroughfare,
.page-checkout #main_content .field-name-commerce-customer-address .premise,
.page-checkout #main_content .field-name-commerce-customer-address .locality,
.page-checkout #main_content .field-name-commerce-customer-address .state,
.page-checkout #main_content .field-name-commerce-customer-address .postal-code,
.page-checkout #main_content .field-name-commerce-customer-address > div > div > .country { display: block; padding: 10px 15px; }
.page-checkout #main_content .field-name-commerce-customer-address .name-block > .name-block { padding: 10px 15px; font-weight: 700; }
.page-checkout #main_content .field-name-commerce-customer-address + input { font-family: 'Exo', sans-serif; font-size: 18px; font-weight: 700; color: #fff; display: inline-block; padding: 15px 30px; text-align: center; text-transform: uppercase; background-color: #78bb32; margin: 15px 0 30px 15px; border: 0; }

/*.page-checkout #main_content fieldset.checkout-buttons { margin-top: -30px; }*/
.page-checkout #main_content fieldset.checkout-buttons input { float: right; font-family: 'Exo', sans-serif; font-size: 18px; font-weight: 700; color: #fff; display: inline-block; padding: 15px 30px; text-align: center; text-transform: uppercase; background-color: #78bb32; margin: 0 15px; border: 0; }
.page-checkout #main_content fieldset.checkout-buttons input:focus,
.page-checkout #main_content fieldset.checkout-buttons input:hover { background: #78bb32 !important; color: #fff !important; text-decoration: none !important; }
.page-checkout #main_content fieldset.checkout-buttons .button-operator { display: none; }

.page-checkout #main_content .cart_contents { float: right; width: 350px; padding: 0; }
.page-checkout #main_content .cart_contents legend { padding: 0; margin-bottom: 30px; }
.page-checkout #main_content .cart_contents .views-field-field-header-image { position: relative; width: 60px; }
.page-checkout #main_content .cart_contents .views-field-field-header-image .quantity { position: absolute; right: -10px; top: 5px; width: 25px; height: 25px; border: 2px solid #ddd; border-radius: 50%; font-size: 12px; color: #12a19a; font-weight: 900; text-align: center; line-height: 22px; background-color: #fff; }
.page-checkout #main_content .cart_contents .views-field-line-item-title { font-size: 14px; line-height: 19px; text-transform: uppercase; text-align: left; padding: 0 15px; }
.page-checkout #main_content .cart_contents .views-field-commerce-unit-price { width: 60px; text-align: right; }
.page-checkout #main_content .cart_contents .views-field-commerce-unit-price table th,
.page-checkout #main_content .cart_contents .views-field-commerce-unit-price table td { padding: 6px 12px; }
* .component-type-taxzero-rated-vat,
.page-checkout #main_content .cart_contents .views-field-commerce-unit-price .component-type-taxzero-rated-vat { display: none; }
.page-checkout #main_content .cart_contents .view-footer { padding: 30px 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; margin: 15px 0 40px 0; }
.page-checkout #main_content .cart_contents .view-footer .commerce-order-handler-area-order-total .field-label { float: left; font-size: 20px; }
.page-checkout #main_content .cart_contents .view-footer .commerce-order-handler-area-order-total .field-items { float: right; font-size: 20px; color: #12a199; font-weight: bold; }
.page-checkout #main_content .cart_contents .view-footer td { padding-top: 0; }
.page-checkout #main_content .cart_contents .view-footer .component-type-flat-rate-standard-delivery td { padding-bottom: 25px; }
.page-checkout #main_content .cart_contents .view-footer .component-type-commerce-price-formatted-amount { padding-top: 30px; border-top: 2px solid #ddd; }
.page-checkout #main_content .cart_contents .view-footer .component-type-commerce-price-formatted-amount td { padding-top: 25px; }
.page-checkout #main_content .cart_contents .view-footer .component-type-commerce-price-formatted-amount .component-total { font-size: 20px; color: #13a099; }

.page-checkout #main_content .checkout-help,
.page-checkout #main_content .commerce-month-year-divider { display: none; }
.page-checkout #main_content .commerce_payment { padding-bottom: 35px; }
.page-checkout #main_content .commerce-credit-card-expiration .form-item { float: left; width: 50%; padding: 0 15px; }

.page-checkout #main_content .checkout-review { float: right; width: 350px !important; }
.page-checkout #main_content .checkout-review > tbody > tr { display: none; }
.page-checkout #main_content .checkout-review > tbody > tr:nth-of-type(1),
.page-checkout #main_content .checkout-review > tbody > tr:nth-of-type(2) { display: table-row; }
.page-checkout #main_content .checkout-review .pane-title { font-size: 22px; font-weight: 700; line-height: 26px; text-transform: uppercase; padding: 0 15px; margin-bottom: 30px; }
.page-checkout #main_content .checkout-review .pane-title td { padding: 0 15px; }
.page-checkout #main_content .checkout-review .views-field-field-header-image { position: relative; width: 60px; }
.page-checkout #main_content .checkout-review .views-field-field-header-image .quantity { position: absolute; right: -10px; top: 5px; width: 25px; height: 25px; border: 2px solid #ddd; border-radius: 50%; font-size: 12px; color: #12a19a; font-weight: 900; text-align: center; line-height: 22px; background-color: #fff; }
.page-checkout #main_content .checkout-review .views-field-line-item-title { font-size: 14px; line-height: 19px; text-transform: uppercase; text-align: left; padding: 0 15px; }
.page-checkout #main_content .checkout-review .views-field-commerce-unit-price { width: 60px; text-align: right; }
.page-checkout #main_content .checkout-review .view-footer { margin-top: 15px; border-top: 2px solid #ddd; padding-top: 30px; }
.page-checkout #main_content .checkout-review .view-footer td { padding-top: 0; }
.page-checkout #main_content .checkout-review .view-footer .component-type-flat-rate-standard-delivery td { padding-bottom: 25px; }
.page-checkout #main_content .checkout-review .view-footer .component-type-commerce-price-formatted-amount { border-top: 2px solid #ddd; }
.page-checkout #main_content .checkout-review .view-footer .component-type-commerce-price-formatted-amount td { padding-top: 30px; }
.page-checkout #main_content .checkout-review .view-footer .component-type-commerce-price-formatted-amount .component-total { font-size: 20px; color: #12a19a; }

.page-checkout #main_content #edit-registration-information-246prod-full-membership-1-246prod-full-membership-1-reg-1-field-member-und-entities-0-actions-ief-entity-remove { display: none; }
.page-checkout #main_content #edit-registration-information-246prod-full-membership-1-246prod-full-membership-1-reg-1-field-member-und--2 .fieldset-wrapper { padding: 16px; }
.page-checkout #main_content #edit-registration-information-246prod-full-membership-1-246prod-full-membership-1-reg-1-field-member-und--2 .ief-entity-table th:nth-of-type(2) { display: none; }
.page-checkout #main_content #edit-registration-information-246prod-full-membership-1-246prod-full-membership-1-reg-1-field-member-und--2 .ief-entity-table th:nth-of-type(3) { padding-left: 15px; }
.page-checkout #main_content #edit-registration-information-246prod-full-membership-1-246prod-full-membership-1-reg-1-field-member-und--2 .ief-entity-table .inline-entity-form-node-status { display: none; }

.page-checkout #main_content .registration-who-msg { margin: 15px 0; padding: 0 15px; }

.checkout-completion-message { padding: 0 15px; }
.checkout-completion-message h2 { color: #12a19a; }
.checkout-completion-message a { display: inline-block; background-color: #96c120; text-decoration: none; font-weight: 700; text-transform: uppercase; color: #fff !important; padding: 10px 20px 10px 20px; border: 0 !important; }

/* Membership Form */

.page-checkout #main_content legend { padding: 0; }
.page-checkout #main_content legend span { padding: 0; background: transparent; }
.page-checkout #main_content .form-item { overflow: hidden; }
.page-checkout #main_content .description { margin-top: 10px; }
.page-checkout #main_content .date-padding { width: 100% !important; padding: 0 !important; }
.page-checkout #main_content .date-padding .form-item { float: none !important; width: 100% !important; padding: 0 !important; }
.page-checkout #main_content .group-member-status legend { display: none !important; }
.page-checkout #main_content .group-hidden-membership-options { display: none; }
.page-checkout #main_content .field-name-field-member input[type="submit"] { margin: 0 15px 40px 15px; }
.page-checkout #main_content .field-name-field-member fieldset .form-item { float: left; width: 50%; }
.page-checkout #main_content .field-name-field-member fieldset .form-item input[type="checkbox"],
.page-checkout #main_content .field-name-field-member fieldset .form-item input[type="radio"] { position: absolute; left: 0; top: 0; height: 100%; margin: 0; width: 100%; background: #ffffff; }
.page-checkout #main_content .field-name-field-member fieldset .form-item input[type="checkbox"] + label,
.page-checkout #main_content .field-name-field-member fieldset .form-item input[type="radio"] + label { display: block; position: relative; left: 0; top: 0; font-size: 18px; line-height: 24px; padding: 0 15px 0 40px; margin: 5px 0; }
.page-checkout #main_content .field-name-field-member fieldset .form-type-checkbox,
.page-checkout #main_content .field-name-field-member fieldset .form-type-radio { padding: 0; padding-right: 20px; }
.page-checkout #main_content .field-name-field-member fieldset .form-type-radios { width: 100%; }
.page-checkout #main_content .field-name-field-member fieldset .form-type-radios > label { position: relative; left: 0; top: 0; font-size: 22px; line-height: 26px; font-weight: 700; color: #50535a; text-transform: uppercase; margin: 0 0 20px 0; padding: 0; }
.page-checkout #main_content .field-name-field-member fieldset .form-type-checkboxes > label { position: relative; left: 0; top: 0; font-size: 22px; line-height: 26px; font-weight: 700; color: #50535a; text-transform: uppercase; padding: 0; margin: 0 0 20px 0; }
.page-checkout #main_content .field-name-field-member fieldset .field-type-taxonomy-term-reference .form-type-checkboxes { width: 100%; }
/*.page-checkout #main_content .field-name-field-member fieldset .form-type-textarea { clear: both; width: 100%; }*/
.page-checkout #main_content .field-name-field-member fieldset.group-member-type .fieldset-wrapper { padding: 0 15px; }
.page-checkout #main_content .group-company-details .field-type-addressfield legend { display: none; }
.page-checkout #main_content .field-name-field-is-shared-service-organisa { padding: 0 15px; }

/* Membership Form (Update Details Profile Page) */

.page-node-231 #main_content .left_column { float: none; width: 100%; }
.page-node-231 #main_content .main_col .body legend { display: block; }
.page-node-231 #main_content table { width: 100% !important; }
.page-node-231 #main_content table tr td { vertical-align: middle; padding: 30px 0; }
.page-node-231 #main_content table tr td img { display: block; border: 2px solid #ddd; }
.page-node-231 #main_content fieldset fieldset { float: none; width: 100%; padding: 0; margin: 0; }
.page-node-231 #main_content fieldset legend { font-size: 22px; font-weight: 700; line-height: 26px; text-transform: uppercase; padding: 0 15px; margin-bottom: 15px; }
.page-node-231 #main_content fieldset .form-item { position: relative; width: 100%; padding: 0 15px 30px 15px; margin: 0; }

.page-node-231 #main_content fieldset .field-type-field-collection fieldset.form-wrapper { padding: 0 15px 30px 15px; margin: 0; }
.page-node-231 #main_content fieldset .field-type-field-collection fieldset.form-wrapper legend { padding: 0; }

.page-node-231 #main_content fieldset .form-item label { position: absolute; top: 20px; font-size: 16px; line-height: 20px; color: #888; padding-left: 12px; margin: 10px 0 0 0; text-transform: none; transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 150ms; pointer-events: none; }
.page-node-231 #main_content fieldset .form-item input[type="text"] { font-size: 16px; line-height: 20px; width: 100%; height: 60px; padding: 15px 10px; border: 2px solid #ddd; border-radius: 0; background: #fff; transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 150ms; -webkit-appearance: none; }
.page-node-231 #main_content fieldset .form-item input[type="radio"] { padding: 0; height: 20px; }
.page-node-231 #main_content fieldset .form-item input[type="radio"] + label { left: 35px; top: -2px; font-size: 18px; line-height: 24px; left: 35px; top: -2px; padding-right: 15px; }
.page-node-231 #main_content fieldset .form-item textarea { clear: both; width: 100%; background-color: #fff; border: 2px solid #ddd; }
.page-node-231 #main_content fieldset .form-item textarea:focus { border-color: #969595; }
.page-node-231 #main_content fieldset .form-item select { font-size: 16px; line-height: 20px; width: 100%; height: 60px; padding: 28px 10px 8px 10px; border: 2px solid #ddd; border-radius: 0; background: url('../img/littlepointthing.png') center right 15px no-repeat #fff; transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 150ms; -webkit-appearance: none; }
.page-node-231 #main_content fieldset .form-item input:focus,
.page-node-231 #main_content fieldset .form-item select:focus { border-color: #969595; }
.page-node-231 #main_content fieldset .form-type-select label,
.page-node-231 #main_content fieldset .form-item.has_value label { font-size: 12px; line-height: 12px; top: 12px; }
.page-node-231 #main_content fieldset .form-item.has_value input[type="text"] { padding: 28px 10px 8px 10px; }
.page-node-231 #main_content fieldset .form-item.has_value textarea { padding: 28px 10px 15px 10px; }

.page-node-231 #main_content legend { padding: 0; }
.page-node-231 #main_content legend span { padding: 0; background: transparent; }
.page-node-231 #main_content .form-item { overflow: hidden; }
.page-node-231 #main_content .description { margin-top: 10px; }
.page-node-231 #main_content .date-padding { width: 100% !important; padding: 0 !important; }
.page-node-231 #main_content .date-padding .form-item { float: none !important; width: 100% !important; padding: 0 !important; }
.page-node-231 #main_content .group-member-status legend { display: none !important; }
.page-node-231 #main_content .group-hidden-membership-options { display: none; }
.page-node-231 #main_content input[type="submit"] { margin: 0 15px 40px 15px; }
.page-node-231 #main_content fieldset .form-item { float: left; width: 50%; }
.page-node-231 #main_content fieldset .form-item input[type="checkbox"],
.page-node-231 #main_content fieldset .form-item input[type="radio"] { position: absolute; left: 0; top: 0; height: 100%; margin: 0; width: 100%; background: #ffffff; }
.page-node-231 #main_content fieldset .form-item input[type="checkbox"] + label,
.page-node-231 #main_content fieldset .form-item input[type="radio"] + label { display: block; position: relative; left: 0; top: 0; font-size: 18px; line-height: 24px; padding: 0 15px 0 40px; margin: 5px 0; }
.page-node-231 #main_content fieldset .form-type-checkbox,
.page-node-231 #main_content fieldset .form-type-radio { padding: 0; }
.page-node-231 #main_content fieldset .form-type-radios { width: 100%; }
.page-node-231 #main_content fieldset .form-type-radios > label { position: relative; left: 0; top: 0; font-size: 22px; line-height: 26px; font-weight: 700; color: #50535a; text-transform: uppercase; margin: 0 0 20px 0; padding: 0; }
.page-node-231 #main_content fieldset .form-type-checkboxes > label { position: relative; left: 0; top: 0; font-size: 22px; line-height: 26px; font-weight: 700; color: #50535a; text-transform: uppercase; padding: 0; margin: 0 0 20px 0; }
.page-node-231 #main_content fieldset .field-type-taxonomy-term-reference .form-type-checkboxes { width: 100%; }
/*.page-node-231 #main_content .field-name-field-member fieldset .form-type-textarea { clear: both; width: 100%; }*/
.page-node-231 #main_content fieldset.group-member-type .fieldset-wrapper { padding: 0 15px; }
.page-node-231 #main_content .group-company-details .field-type-addressfield legend { display: none; }
.page-node-231 #main_content .field-name-field-is-shared-service-organisa { padding: 0 15px; }
.page-node-231 #main_content fieldset + .form-wrapper input[type="submit"] { margin-right: 40px; }
.page-node-231 #main_content #edit-actions { float: left; }

/* Responsive */

@media all and (max-width : 1150px) {

    /* Checkout */

    .page-checkout #main_content .cart_contents { float: none; width: 100%; padding: 0 15px; }
    .page-checkout #main_content fieldset { float: none; width: 100%; padding: 0; }
}

@media all and (max-width : 1000px) {

    /* Shopping Cart (Menu) */

    #menu_blocks .block-commerce-cart { right: -80px; }
}

@media all and (max-width : 950px) {

    /* Shopping Cart (Menu) */

    /*#menu_blocks .block-commerce-cart { display: none; }*/
    /*#menu_overlay #menu_blocks_mobile .block-commerce-cart .line-item-summary-view-cart { background: url('../img/cart-00a1e0.png') center center no-repeat; }*/
}

@media all and (max-width : 700px) {

    /* Checkout */

    .page-checkout #main_content .field-name-field-member fieldset .form-item { float: none; width: 100%; }

    /* Membership Form (Update Details Profile Page) */

    .page-node-231 #main_content fieldset .form-item { float: none; width: 100%; }
}

@media all and (max-width : 500px) {

    /* Shopping Cart (Mobile Menu) */

    #menu_blocks_mobile .block-commerce-cart { top: 24px; }
    
    /* Cart */
    
    .page-cart #main_content .view-header h1 { font-size: 16px; }
    .page-cart #main_content .main_col .body ol { margin-bottom: 0px; }
    .page-cart #main_content .main_col .body ol li  { font-size: 12px; line-height: 18px; }
    .page-cart #main_content .main_col .body table td { padding: 6px; }
    
    .page-cart #main_content legend span { font-size: 16px; }
    .page-cart #main_content .view-commerce-cart-form,
    .page-cart #main_content .view-commerce-cart-form .views-field-line-item-title,
    .page-cart #main_content .view-commerce-cart-form .view-footer td,
    .page-cart #main_content .view-commerce-cart-form .view-footer .commerce-order-handler-area-order-total .field-label { font-size: 12px; }
    
    .page-cart #main_content form table tr td.views-field-edit-quantity input { font-size: 12px; }
    .page-cart #main_content form table tr td.views-field-edit-delete { width: 40px; }
    
    .page-checkout #main_content fieldset.checkout-buttons input { margin-bottom: 15px; }
    
    /* Checkout */
    
    .page-checkout #main_content .main_col .body ol { margin-bottom: 0px; }
    .page-checkout #main_content .main_col .body ol li  { font-size: 12px; line-height: 18px; }
    .page-checkout #main_content .main_col .body table td { padding: 6px; }
    .page-checkout #main_content legend span { font-size: 16px; }
    .page-checkout #main_content .cart_contents,
    .page-checkout #main_content .cart_contents .views-field-line-item-title,
    .page-checkout #main_content .cart_contents .view-footer td,
    .page-checkout #main_content .cart_contents .view-footer .commerce-order-handler-area-order-total .field-label { font-size: 12px; }
    
    .page-cart #main_content .commerce-line-item-actions input { margin-bottom: 15px; }
}

@media all and (max-width : 380px) {

    /* Cart */
    
    .page-cart #main_content .main_col .body table td { padding: 4px; }
    
    /* Checkout */
    
    .page-checkout #main_content .main_col .body table td { padding: 4px; }
}
