
/* Email Styles*/

#mimemail-body * { font-family: 'Helvetica Neue', 'Microsoft Sans Serif', Helvetica, Arial, sans-serif; }
#mimemail-body h1 { font-size: 22px; font-weight: 300; line-height: 32px; margin: 0 0 20px 0; color: #484848; }
#mimemail-body p { font-size: 18px; font-weight: 300; line-height: 28px; margin: 0 0 30px 0; color: #666; }
#mimemail-body b { font-weight: 600; }
#mimemail-body a { text-decoration: none; color: #3d79cf; }
#mimemail-body img { border-style: none; display: inline-block !important; }

#mimemail-body table tr td { text-align: left; }
#mimemail-body .main_wrapper { margin-bottom: 30px; }
#mimemail-body .inner_wrapper { background-color: #fff; }
#mimemail-body .inner_wrapper.intro * { color: #fff; text-align: center; }
#mimemail-body .inner_wrapper.main_logo img { margin: 30px 0 20px 0; }
#mimemail-body .inner_wrapper.footer { background-color: #224d87 !important; }
#mimemail-body .inner_wrapper.footer td { text-align: center !important; }
#mimemail-body .inner_wrapper.footer a { display: inline-block; font-size: 20px; line-height: 45px; font-weight: 300; color: #fff !important; margin: 30px 15px; }