
/* General */

* { -moz-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; outline: none; }
body { width: 100%; height: 100%; padding-top: 120px; font-family: 'Exo', sans-serif; color: #50535a; -webkit-text-size-adjust: 100%; }
body.html { background: #fff !important; }
body.html.front { background: url('../img/bg.jpg') right center no-repeat !important; background-attachment: fixed; }
section { position: relative; }
.wrapper { position: relative; width: 100%; height: 100%; padding: 4vw; }
.wrapper::after { content: ''; display: block; clear: both; }

.role-administrator,
.role-alarm-administrator { padding-top: 184px !important; }
.role-administrator #main_nav,
.role-alarm-administrator #main_nav { top: 64px; }

/* Typography */

h1 { font-size: 40px; font-weight: 700; line-height: 45px; margin-bottom: 20px; text-transform: uppercase; }
h2 { font-size: 40px; font-weight: 700; line-height: 45px; margin-bottom: 20px; text-transform: uppercase; }
h3 { font-size: 30px; font-weight: 700; line-height: 35px; margin-bottom: 20px; text-transform: uppercase; }
h4 { font-size: 22px; font-weight: 700; line-height: 26px; margin-bottom: 20px; text-transform: uppercase; }
p { font-size: 22px; font-weight: 400; line-height: 32px; margin-bottom: 20px; }
a { cursor: pointer; }
.btn { font-size: 18px; font-weight: 700; color: #fff; display: inline-block; padding: 15px 30px; text-align: center; text-transform: uppercase; background-color: red; }

img { display: block; }
.logo { display: inline-block; font-size: 0; color: transparent; }

/* Navigation */

#main_nav { z-index: 400; position: fixed; left: 0; top: 0; width: 100%; height: 120px; background-color: #fff; box-shadow: 0 0 50px rgba(0,0,0,0.07); }
#main_nav .wrapper { padding: 30px; }

.login_btn { position: absolute; right: 0; top: 0; padding: 25px; font-size: 18px; font-weight: 700; color: #fff; text-transform: uppercase; }
.login_btn::before { content: ''; z-index: -100; position: absolute; right: -25px; top: -55px; width: 280px; height: 100px; transform: rotate(19deg); background-color: #00a1e0; }

.menu_btn { display: none; position: absolute; right: 30px; top: 50%; width: 30px; height: 35px; font-size: 0; color: transparent; transform: translateY(-50%); cursor: pointer; }
.menu_btn .bar { position: absolute; left: 0; width: 100%; height: 5px; background-color: #00a1e0; }
.menu_btn .bar:nth-of-type(1) { top: 5px; }
.menu_btn .bar:nth-of-type(2) { top: 15px; }
.menu_btn .bar:nth-of-type(3) { top: 25px; }

#main_nav #menu_blocks { position: absolute; right: 200px; top: 50%; transform: translateY(-50%); }

#main_nav .search_btn { position: absolute; right: -54px; bottom: 6px; width: 28px; height: 28px; background: url('../img/search.png') center no-repeat transparent; background-size: cover; font-size: 0; color: transparent; }
#main_nav .search_btn #block-views-exp-site-search-page { position: absolute; right: -40px; top: 60px; }
#main_nav .search_btn #block-views-exp-site-search-page form { width: 550px; height: 80px; padding: 20px 140px 20px 20px; background-color: #00a1dd; cursor: default; }
#main_nav .search_btn #block-views-exp-site-search-page form::before { content: ''; position: absolute; left: 0; top: -46px; width: 100%; height: 46px; cursor: default; }
#main_nav .search_btn #block-views-exp-site-search-page form::after { content: ''; z-index: -1; position: absolute; right: 30px; top: 0; width: 30px; height: 30px; transform: translateY(-50%) rotate(45deg); background-color: #41c0f1; }
#main_nav .search_btn #block-views-exp-site-search-page form input[type="text"] { width: 100%; height: 100%; border: 0; border-radius: 0; background: transparent; font-family: 'Exo', sans-serif; font-size: 22px; font-weight: 400; color: #fff; line-height: 40px; }
#main_nav .search_btn #block-views-exp-site-search-page form input[type="text"]::-webkit-input-placeholder { color: #6ad2f9; }
#main_nav .search_btn #block-views-exp-site-search-page form input[type="text"]:-moz-placeholder { color: #6ad2f9; }
#main_nav .search_btn #block-views-exp-site-search-page form input[type="text"]::-moz-placeholder { color: #6ad2f9; }
#main_nav .search_btn #block-views-exp-site-search-page form input[type="text"]:-ms-input-placeholder { color: #6ad2f9; }
#main_nav .search_btn #block-views-exp-site-search-page form input[type="text"]::-ms-input-placeholder { color: #6ad2f9; }
#main_nav .search_btn #block-views-exp-site-search-page form input[type="submit"] { position: absolute; right: 0; top: 0; width: 120px; height: 80px; font-family: 'Exo', sans-serif; font-size: 18px; font-weight: 700; color: #fff; line-height: 80px; text-transform: uppercase; text-align: center; border: 0; border-radius: 0; background: #41c0f1; cursor: pointer; }
#main_nav .search_btn #block-views-exp-site-search-page { transform: scale(0.8); box-shadow: 0 0 50px rgba(0,0,0,0.07); transform-origin: top; opacity: 0; transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 200ms; pointer-events: none; }
#main_nav .search_btn:hover #block-views-exp-site-search-page { transform: scale(1); opacity: 1; pointer-events: all; }

#main_nav .menu-block-wrapper > .menu { padding: 10px 0; }
#main_nav .menu-block-wrapper > .menu::after { content: ''; display: block; clear: both; }
#main_nav .menu-block-wrapper > .menu > li { position: relative; float: left; margin-right: 20px; }
#main_nav .menu-block-wrapper > .menu > li:last-of-type { margin-right: 0; }
#main_nav .menu-block-wrapper > .menu > li > a { font-size: 14px; font-weight: 700; text-transform: uppercase; }
#main_nav .menu-block-wrapper > .menu > li:hover > .menu { transform: translateX(-50%) scale(1); opacity: 1; pointer-events: all; }
#main_nav .menu-block-wrapper > .menu > li > .menu { position: absolute; left: 50%; top: 60px; width: 180px; padding: 20px 20px 100px 20px; transform: translateX(-50%) scale(0.8); text-align: center; box-shadow: 0 0 50px rgba(0,0,0,0.07); transform-origin: top; opacity: 0; transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 200ms; pointer-events: none; }
#main_nav .menu-block-wrapper > .menu > li > .menu::before { content: ''; position: absolute; left: 0; top: -46px; width: 100%; height: 46px; }
#main_nav .menu-block-wrapper > .menu > li > .menu::after { content: ''; z-index: -1; position: absolute; left: 50%; top: 0; width: 30px; height: 30px; transform: translate(-50%, -50%) rotate(45deg); background-color: inherit; }
#main_nav .menu-block-wrapper > .menu > li > .menu > li { margin-bottom: 10px; }
#main_nav .menu-block-wrapper > .menu > li > .menu > li:last-of-type { margin-bottom: 0; }
#main_nav .menu-block-wrapper > .menu > li > .menu > li > a { font-size: 14px; font-weight: 700; color: #fff !important; line-height: 20px; text-transform: uppercase; }

.hp-content { display: none; }

/* Removing text transform on header */

.page-node-50 #main_header .info .boxes .box p strong { text-transform: none; }

/* Membership form */

.field-type-mailchimp-lists-subscription { display: none; }
.field-type-mailchimp-lists-subscriptions { display: none; }

/* Cookie Pop Up */

#sliding-popup { padding: 15px 0; }
#sliding-popup .popup-content #popup-buttons { margin-bottom: 0; }
#sliding-popup #popup-buttons button { background-color: rgba(255,255,255,0.4); padding: 15px 30px; font-size: 14px; font-weight: 700; color: #fff; text-align: center; text-transform: uppercase; margin-top: 0; border-radius: 0; background-image: none; border: none; box-shadow: none; text-shadow: none; font-family: 'Exo',sans-serif;}

/* Downloads Listing */

.field-name-field-downloads-listing .field-name-field-description::after { content: 'Downloads are available for members only, please login to download this resource.';  }

/* Mobile Navigation */

#menu_overlay { z-index: 420; position: fixed; left: 0; top: 0; width: 100%; height: 100%; pointer-events: none; }
#menu_overlay .layer { position: absolute; right: 0; top: 0; width: 0; height: 100%; overflow: hidden; transition: width cubic-bezier(0.91, 0.01, 0.17, 1) 1000ms; }
#menu_overlay .navigation { z-index: 432; position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; padding: 30px; transition: opacity cubic-bezier(0.91, 0.01, 0.17, 1) 250ms; transition-delay: 0ms; }
#menu_overlay .navigation .login_btn { right: 92px; top: 26px; color: #fff; }
#menu_overlay .navigation .login_btn::before { display: none; }
#menu_overlay .navigation .menu_btn { display: block; top: 42px; transform: none; }
#menu_overlay .navigation .menu_btn .bar { background-color: #fff; }

#menu_blocks_mobile { height: calc(100vh - 100px); margin-top: 20px; overflow-x: hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch; }
#menu_blocks_mobile .search_btn { display: none; }
#menu_blocks_mobile .menu-block-wrapper { width: 100%; padding-top: 30px; border-top: 2px solid rgba(255,255,255,0.3); margin-top: 30px; }
#menu_blocks_mobile .menu-block-wrapper > .menu > li { margin-bottom: 30px; }
#menu_blocks_mobile .menu-block-wrapper > .menu > li:last-of-type { margin-bottom: 0; }
#menu_blocks_mobile .menu-block-wrapper > .menu > li > a { font-size: 25px; line-height: 25px; color: #fff; }
#menu_blocks_mobile #block-menu-block-1 .menu-block-wrapper > .menu > li { display: inline-block; margin: 0 30px 20px 0; }
#menu_blocks_mobile #block-menu-block-2 .menu-block-wrapper { margin-top: 10px; }
#menu_blocks_mobile #block-menu-block-2 .menu-block-wrapper > .menu > li > a { display: inline-block; margin-bottom: 10px; }
#menu_blocks_mobile #block-menu-block-2 .menu-block-wrapper > .menu > li > .menu { overflow: hidden; margin-left: -15px; }
#menu_blocks_mobile #block-menu-block-2 .menu-block-wrapper > .menu > li > .menu > li { float: left; }
#menu_blocks_mobile #block-menu-block-2 .menu-block-wrapper > .menu > li > .menu > li > a { display: inline-block; font-size: 18px; line-height: 30px; color: rgba(255,255,255,0.7); padding: 5px 15px; transition: color cubic-bezier(0.65, 0.05, 0.36, 1) 300ms; }
#menu_blocks_mobile #block-menu-block-2 .menu-block-wrapper > .menu > li > .menu > li > a:hover { color: #fff; }

.menu_open #menu_overlay .navigation { opacity: 1; transition-delay: 1000ms; pointer-events: all; }
.menu_open #menu_overlay .layer { width: 100%; }

/* Slider */

#main_slider { height: calc(40vw + 220px); padding: 0 4vw 8vw 4vw; overflow: hidden; }
#main_slider .images { z-index: 200; position: relative; width: 100%; height: 35vw; overflow: hidden; }
#main_slider .images * { height: 100%; }
#main_slider .images .views-row { position: absolute; width: 100%; }
#main_slider .images .image { position: absolute; left: 0; top: 0; width: 100%; height: 100%; transition: left cubic-bezier(0.65, 0.05, 0.36, 1) 900ms; }
#main_slider .images .image[data-pos="1"] { z-index: 240; left: 100%; }
#main_slider .images .image[data-pos="2"] { z-index: 260; left: 0; position: relative; }
#main_slider .images .image[data-pos="3"] { z-index: 220; left: -100%; }
#main_slider .images .image .background { background-size: cover !important; }
#main_slider .images .placeholder_image { position: absolute; top: 0; width: 100%; background-color: red; transition: left cubic-bezier(0.65, 0.05, 0.36, 1) 900ms; }
#main_slider .images .placeholder_image[data-pos="1"] { z-index: 240; left: 100%; }
#main_slider .images .placeholder_image[data-pos="2"] { z-index: 260; left: 0; }
#main_slider .images .placeholder_image[data-pos="3"] { z-index: 220; left: -100%; }

#main_slider .info { z-index: 300; position: absolute; width: 50vw; min-width: 600px; max-width: 100%; max-width: 100%; margin-left: 4vw; }
#main_slider .info .boxes { overflow: hidden; transform: translateY(-50%); }
#main_slider .info .boxes .box { position: absolute; left: 0; top: 0; width: 100%; height: 440px; padding: 4vw; background-color: #00a1e0; color: #fff; transition: left cubic-bezier(0.65, 0.05, 0.36, 1) 900ms; }
#main_slider .info .boxes .box a { font-size: 18px; font-weight: 700; color: #fff; display: inline-block; padding: 15px 30px; text-align: center; text-transform: uppercase; background-color: rgba(255,255,255,0.4); }
#main_slider .info .boxes .box.slide[data-pos="1"] { z-index: 340; left: 100%; }
#main_slider .info .boxes .box.slide[data-pos="2"] { z-index: 360; left: 0; position: relative; }
#main_slider .info .boxes .box.slide[data-pos="3"] { z-index: 320; left: -100%; }
#main_slider .info .ticker { position: absolute; right: 0; top: 2vw; transform: translateX(100%); overflow: hidden; }
#main_slider .info .ticker .pip { float: left; width: 30px; height: 30px; border-radius: 30px; margin-left: 2vw; background-color: #00a1e0; }
#main_slider .info .ticker .pip.active { background-color: #b4008e; }

/* Header */

#main_header { padding: 0 4vw; }
#main_header .images { z-index: 200; position: relative; width: 100%; height: 400px; overflow: hidden; }
#main_header .images .image { position: relative; left: 0; top: 0; width: 100%; height: 100%; transition: left cubic-bezier(0.65, 0.05, 0.36, 1) 900ms; }
#main_header .info { z-index: 300; position: absolute; bottom: -4vw; width: 50vw; min-width: 600px; max-width: 100%; max-width: 100%; margin-left: 4vw; }
#main_header .info .boxes { overflow: hidden; background-color: crimson; color: #fff; }
#main_header .info .boxes .box { position: relative; left: 0; top: 0; width: 100%; padding: 4vw; transition: left cubic-bezier(0.65, 0.05, 0.36, 1) 900ms; }
#main_header .info .boxes .box h2 { margin-bottom: calc(4vw - 15px); }
#main_header .info .boxes .box p { margin: 0; }
#main_header .info .boxes .box p strong { font-weight: 700; text-transform: uppercase; }

/* Call to Actions */

.cta { position: relative; overflow: hidden; }
.cta a.btn { margin-top: 10px; }
.cta .image { position: absolute; top: 0; width: 50%; height: 100%; }
.cta .text { width: 50%; padding: 4vw; background-color: #fff; }
.cta.left .image { right: 0; background-color: #fff; }
.cta.left .text { margin-right: 50%; }
.cta.right .image { left: 0; }
.cta.right .text { margin-left: 50%; }

#cta_1 .btn { background-color: #61279e; }
#cta_1 .image { background: url('../img/home_cta.jpg') center no-repeat; background-size: cover; }
#cta_1 .text { background-color: transparent; }

#cta_2 .btn { background-color: #3d7dca; }
#cta_2 .image { background: #3d7dca; overflow: hidden; }
#cta_2 .image::after { content: ''; position: absolute; right: -4vw; bottom: -12vw; width: 40vw; height: 40vw; background: url('../img/logo_asterisk.png') center no-repeat; background-size: cover; }

#cta_3 { color: #fff; }
#cta_3 .btn { color: #61279e; background-color: #c6abef; }
#cta_3 .wrapper { padding: 12vw 16vw; text-align: center; }
#cta_3 .background { z-index: -100; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #61279e; }

/* Content */

#main_content { background-color: #fff; overflow: hidden; }
#main_content .wrapper { overflow: hidden; padding: 4vw; margin-top: 4vw; }

#main_content .main_col { float: left; width: calc(100% - 350px); padding-right: 4vw; }
#main_content .main_col.full_width { float: none; width: 100%; padding: 0; }
#main_content .main_col h2 { margin-bottom: 40px; }
#main_content .main_col h4 { font-size: 25px; line-height: 40px; margin: 45px 0 15px 0; }
#main_content .main_col .body img { display: inline; width: auto; height: auto; margin: 0; }
#main_content .main_col ul.tabs:last-of-type { margin-bottom: 25px; }
#main_content .main_col ul.tabs.primary li a { padding: 0.5em 1em; background-color: #00a1e0; color: #fff; border: 1px solid #bbb; }
#main_content .main_col ul.tabs.primary li.active a { background-color: #fff; color: #50535a; }
#main_content .main_col ul.tabs.secondary { border-bottom: 1px solid #bbb; padding: 2em 0em; }
#main_content .main_col ul.tabs.secondary li:last-child { border-right: none; }
#main_content .main_col ul.tabs.secondary li a { padding: 0.5em 1em; }
#main_content .main_col .body { position: relative; }
#main_content .main_col .body table caption { margin: 25px 0; text-align: left; font-weight: bold; }
#main_content .main_col .body table th, #main_content .main_col .body table td { padding: 12px; }
#main_content .main_col .body h3 { margin-top: 40px; }
#main_content .main_col .body p { font-size: 16px; line-height: 26px; }
#main_content .main_col .body a { color: #00a1dd; border-bottom: 2px solid #4cc6f3; cursor: pointer; }
#main_content .main_col .body em { font-style: italic; }
#main_content .main_col .body strong { font-weight: 700; }
#main_content .main_col .body ul { margin-bottom: 20px; }
#main_content .main_col .body ul li { position: relative; font-size: 16px; font-weight: 400; line-height: 26px; margin: 0 0 5px 30px; }
#main_content .main_col .body ul li::before { content: ''; position: absolute; top: 7px; width: 8px; height: 8px; margin-left: -20px; background-color: #50535a; }
#main_content .main_col .body ol { margin-bottom: 20px; }
#main_content .main_col .body ol li { position: relative; font-size: 16px; font-weight: 400; line-height: 26px; padding-left: 5px; margin: 0 0 15px 15px; list-style-type: decimal; }

#main_content .main_col .body .field-name-field-job-requirements { margin-bottom: 20px; }
#main_content .main_col .body .field-name-field-job-requirements .field-item { position: relative; font-size: 22px; font-weight: 400; line-height: 40px; padding-left: 40px; margin-bottom: 15px; }
#main_content .main_col .body .field-name-field-job-requirements .field-item::before { content: ''; position: absolute; left: 10px; top: 15px; width: 10px; height: 10px; background-color: #50535a; }
#main_content .main_col .body .field-name-field-apply-link a { display: inline-block; font-size: 18px; line-height: 18px; font-weight: 700; color: #fff; text-align: center; padding: 15px 30px; border: 0; margin-bottom: 40px; text-transform: uppercase; background-color: #008996; }

#main_content .main_col .body .gallery { width: calc(92vw - 350px); overflow: hidden; margin-left: -2vw; }
#main_content .main_col .body .gallery .container { display: block; float: left; width: calc((92vw - 350px) / 4); height: calc((92vw - 350px) / 4); padding: 2vw; border: 0; }
#main_content .main_col .body .gallery .container .image { width: 100%; height: 100%; }

#main_content .main_col .body iframe { position: relative; width: 100%; height: 42vw; padding: 50px 0; margin: 0; }
#main_content .main_col .body .youtube-container--responsive { height: calc(42vw + 100px); padding: 0; }

#main_content .main_col .body .file-icon { display: none; }
#main_content .main_col .body .field-name-field-downloads { width: calc(92vw - 350px); overflow: hidden; margin-left: -2vw; }
#main_content .main_col .body .field-name-field-downloads .file { display: block; float: left; width: 50%; padding: 2vw; }
#main_content .main_col .body .field-name-field-downloads .file a { position: relative; display: block; width: 100%; height: 100%; padding: 2vw; border: 0; font-size: 22px; font-weight: 700; line-height: 26px; color: #50535a; text-transform: uppercase; transform: scale(1); transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 300ms; }
#main_content .main_col .body .field-name-field-downloads .file a:hover { transform: scale(1.05); }
#main_content .main_col .body .field-name-field-downloads .file a::after { content: 'Download'; display: block; width: 100%; border: 0; padding: 15px; margin-top: 25px; font-size: 18px; line-height: 18px; font-weight: 700; color: #fff; text-align: center; text-transform: uppercase; -moz-box-sizing: border-box; box-sizing: border-box; }
#main_content .main_col .body .field-name-field-downloads-listing > .field-items > .field-item { position: relative; padding: 2vw 2vw 2vw calc(2vw + 250px); margin: 40px 0; }
#main_content .main_col .body .field-name-field-downloads-listing .field-name-field-file-image { position: absolute; left: 0; top: 0; width: 250px; height: 100%; padding: 2vw; overflow: hidden; }
#main_content .main_col .body .field-name-field-downloads-listing .field-name-field-file-image img { display: block; position: absolute; left: 2vw; top: 50%; width: calc(100% - 4vw); height: auto; margin: 0; transform: translateY(-50%); }
#main_content .main_col .body .field-name-field-downloads-listing .field-name-field-title { font-size: 22px; font-weight: 700; line-height: 26px; text-transform: uppercase; }
#main_content .main_col .body .field-name-field-downloads-listing .field-name-field-subtitle { font-size: 22px; font-weight: 400; line-height: 40px; margin-bottom: 20px; }
#main_content .main_col .body .field-name-field-downloads-listing .field-name-field-description p { font-size: 16px; line-height: 26px; }
#main_content .main_col .body .field-name-field-downloads-listing .field-name-field-download a { position: relative; display: inline-block; width: 180px; height: 48px; border: 0; margin-top: 25px; font-size: 0; color: transparent; text-align: center; }
#main_content .main_col .body .field-name-field-downloads-listing .field-name-field-download a::after { content: 'Download'; position: absolute; left: 0; top: 0; width: 100%; height: 100%; font-size: 18px; line-height: 48px; font-weight: 700; color: #fff; text-transform: uppercase; -moz-box-sizing: border-box; box-sizing: border-box; }

#main_content .main_col .body legend,
#main_content .main_col .body .filter-wrapper,
#main_content .main_col .body .field-multiple-drag,
#main_content .main_col .body .tabledrag-toggle-weight-wrapper { display: none; }

#main_content .main_col .body .field-name-field-main-image img { float: right; width: 50%; height: auto; padding: 0 0 2vw 4vw; margin: 0; }

#main_content .side_col { float: left; width: 350px; }
#main_content .side_col .btn { display: block; width: 100%; margin: 0; }
#main_content .side_col .btn.view_all { clear: both; }
#main_content .side_col .box { margin-bottom: 4vw; transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 300ms; }
#main_content .side_col .box:hover { transform: scale(1.05); }
#main_content .side_col .box .placeholder_image { position: relative; width: 100%; height: 200px; overflow: hidden; }
#main_content .side_col .box .placeholder_image::after { content: ''; position: absolute; right: -70px; bottom: -70px; width: 250px; height: 250px; background: url('../img/focus_group_logo.png') center no-repeat; background-size: cover; }
#main_content .side_col .box .inner img { width: 100%; height: auto; }
#main_content .side_col .box .inner .info { padding: 2vw; }
#main_content .side_col .box .inner .info p { font-size: 16px; line-height: 26px; }
#main_content .side_col .box .inner .info p:last-of-type { margin: 0; }
#main_content .side_col .box .inner .info p strong { font-weight: 700; }
#main_content .side_col .box .inner .info .btn { margin-top: 25px; }
#main_content .side_col .box .inner form { padding: 2vw; }
#main_content .side_col .box .inner form p { font-size: 16px; line-height: 26px; }
#main_content .side_col .box .inner form input { display: block; width: 100%; font-family: 'Exo', sans-serif; font-size: 16px; line-height: 18px; padding: 15px; margin-bottom: 20px; border: 0; border-radius: 0; background: rgba(255,255,255,0.6); -webkit-appearance: none; }
#main_content .side_col .box .inner form input[type="submit"] { font-size: 18px; font-weight: 700; text-transform: uppercase; color: #fff; margin: 0; background-color: #61279e; cursor: pointer; }

#main_content .side_col h2 { font-size: 30px; font-weight: 700; line-height: 35px; margin: 40px 0 20px 0; text-transform: uppercase; }
#main_content .side_col .menu-block-wrapper > .menu > li { padding: 20px 0; border-bottom: 2px solid #000; }
#main_content .side_col .menu-block-wrapper > .menu > li:first-child { border-top: 2px solid #000; }
#main_content .side_col .menu-block-wrapper > .menu > li > a { line-height: 25px; }

/* Search */

.page-search #main_header,
.page-search #main_content .side_col { display: none; }
.page-search #main_content .main_col .search_result { margin-bottom: 2vw; padding-bottom: 2vw; border-bottom: 2px solid #eee; }
.page-search #main_content .main_col .search_result .inner .info h4 { margin-top: 0; }
.page-search #main_content .main_col .search_result .inner .info .btn { border: 0; color: #fff; background-color: #00a1e0; }

/* Forms */

select::-ms-expand { display: none; }
#main_content form input,
#main_content form select,
#main_content form textarea { display: block; width: 100%; height: 60px; border: 0; padding: 0 15px; margin: 10px 0 0 0; resize: none; font-family: 'Exo', sans-serif; font-size: 18px; line-height: 60px; font-weight: 400; color: #50535a; background-color: rgba(0, 137, 150, 0.15); }
#main_content form textarea { padding: 15px 10px; height: 180px; line-height: 28px; }
#main_content form input[type="submit"] { display: inline-block; width: auto; height: auto; padding: 15px 30px; font-size: 18px; line-height: 18px; font-weight: 700; text-transform: uppercase; color: #fff; margin: 20px 30px 0 0; background-color: #008996; border: 0; cursor: pointer; }
#main_content form input[type="radio"] { -webkit-appearance: radio !important; }
#main_content form input[type="radio"],
#main_content form input[type="checkbox"] { cursor: pointer; }
#main_content form table { width: 100%; }
#main_content form label { font-size: 22px; line-height: 26px; font-weight: 700; text-transform: uppercase; margin: 30px 0 0 0; }
#main_content form .marker,
#main_content form .form-required { color: #008996; }
#main_content form .form-item .description { margin-top: 10px; }
#main_content form .resizable-textarea .grippie { display: none; }
#main_content form .form-item-line-item-fields-field-job-requirements-und-0-value label { display: none; }
#block-views-gdpr-terms-version-block { display: none; }

/* Tables */

#main_content .field-name-body table tr td, .view-order-history table tr td { padding: 10px; border: 1px solid #000; }
.view-order-history table tr th { font-weight: bold; padding: 10px; border: 1px solid #000; }
.view-order-history table { margin-bottom:20px; }

/* Sponsor Tiers */

#main_content .sponsor_tiers .block { margin-bottom: 2vw; text-align: center; }
#main_content .sponsor_tiers .block h4 { padding: 1vw 2vw; }
#main_content .sponsor_tiers .block .views-row { display: inline-block; }
#main_content .sponsor_tiers .block .views-row a { border: 0; }
#main_content .sponsor_tiers .block .views-row a img { display: block; width: auto; height: 80px; margin: 0 2vw 2vw 0; }

#block-views-conference-sponsors-block h4 { background-color: #f9f5f2; }
#block-views-conference-sponsors-gold-block h4 { background-color: #fdfaf3; }
#block-views-ad6b12a781fbc57bd158b817975f7f1d h4 { background-color: #f3f8f9; }
#block-views-56991ed1d5461d3cf7483724d1e44cd1 h4 { background-color: #efece7; }

/* Award Winners */

#main_content .field-name-field-award-participants > .field-items > .field-item { position: relative; padding: 2vw 2vw 2vw calc(2vw + 250px);  margin-bottom: 40px; background-color: rgba(61, 124, 203, 0.15); }
#main_content .field-name-field-award-participants > .field-items > .field-item a { display: block; font-size: 22px; line-height: 27px; font-weight: 400; margin: 0 0 5px 0; border: 0 !important; color: #b4008d; }
#main_content .field-name-field-award-participants > .field-items > .field-item .field-name-field-award-name { font-size: 22px; line-height: 26px; font-weight: 700; text-transform: uppercase; margin-bottom: 10px; }
#main_content .field-name-field-award-participants > .field-items > .field-item .field-name-field-sponsor-logo { position: absolute; left: 0; top: 0; width: 250px; height: 100%; padding: 2vw; background-color: rgba(61, 124, 203, 0.4); }
#main_content .field-name-field-award-participants > .field-items > .field-item .field-name-field-sponsor-logo img { display: block; position: absolute; left: 50%; top: 50%; width: auto; max-width: calc(100% - 4vw); height: auto; margin: 0; transform: translate(-50%, -50%); }
#main_content .field-name-field-award-participants > .field-items > .field-item .field-name-field-winner::before { content: 'Winner'; font-size: 16px; line-height: 26px; font-weight: 400; margin: 10px 0 5px 0; }
#main_content .field-name-field-award-participants > .field-items > .field-item .field-name-field-highly-commended::before { content: 'Highly Commended'; display: block; font-size: 16px; line-height: 26px; font-weight: 400; margin: 10px 0 5px 0; }
#main_content .field-name-field-award-participants > .field-items > .field-item .field-name-field-finalists::before { content: 'Finalists'; display: block; font-size: 16px; line-height: 26px; font-weight: 400; margin: 10px 0 5px 0; }

/* Membership Boxes */

#main_content .membership_option { margin: 50px 0; }
#main_content .membership_option .table { position: relative; width: 100%; height: 100%; }
#main_content .membership_option .table .left { z-index: 100; position: absolute; left: 0; top: 0; width: 35%; height: calc(100% - 100px); }
#main_content .membership_option .table .left .title { position: relative; height: 40%; text-align: center; background-color: #81bc00; }
#main_content .membership_option .table .left .title h2,
#main_content .membership_option .table .left .title h3 { position: absolute; left: 50%; top: 50%; margin: 0; color: #fff; padding: 2vw; transform: translate(-50%, -50%); }
#main_content .membership_option .table .left .title .small { display: block; font-size: 20px; line-height: 30px; margin: 0; }
#main_content .membership_option .table .left .pricing { position: relative; height: 60%; padding: 2vw; background-color: #9ed95f; text-align: center; }
#main_content .membership_option .table .left .pricing .inner { position: absolute; left: 50%; top: 50%; margin: 0; transform: translate(-50%, -50%); }
#main_content .membership_option .table .left .pricing .inner .people { position: relative; width: 150px; font-size: 16px; line-height: 26px; font-weight: 700; text-transform: uppercase; padding: 0 45px; margin-bottom: 20px; }
#main_content .membership_option .table .left .pricing .inner .people .count { display: block; width: 100%; height: 40px; font-size: 25px; margin: 0 0 10px 0; border: 0; text-align: center; background: #c2f092; -webkit-appearance: none; }
#main_content .membership_option .table .left .pricing .inner .people .count::-webkit-inner-spin-button, 
#main_content .membership_option .table .left .pricing .inner .people .count::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
#main_content .membership_option .table .left .pricing .inner .price { margin: 0; }
#main_content .membership_option .table .left .pricing .inner .pp { font-size: 16px; line-height: 26px; font-weight: 700; text-transform: uppercase; margin: 10px 0 30px 0; }
#main_content .membership_option .table .left .pricing .vat { position: absolute; left: 0; bottom: 20px; width: 100%; font-size: 16px; line-height: 26px; padding: 0 2vw; margin: 0; }

#main_content .membership_option .table .right { position: relative; width: 100%; min-height: 650px; padding: 30px 30px 30px calc(30px + 35%); margin: 0; background-color: #c2f092; }
#main_content .membership_option .table .right h3 { margin-top: 0; }
#main_content .membership_option .table .right ul { margin-bottom: 0; }
#main_content .membership_option .table .right ul li { font-size: 16px; line-height: 26px; padding-left: 30px; }
#main_content .membership_option .table .right ul li::before { left: 5px; top: 8px; }
#main_content .membership_option .table .right .apply { position: absolute; left: 0; bottom: 0; width: 35%; display: block; height: 100px; padding: 40px; background-color: #00a1e0; font-size: 22px; font-weight: 700; line-height: 22px; text-align: center; color: #fff; text-transform: uppercase; margin: 0; border: 0; }

#main_content .membership_option .smallprint { min-height: 50px; padding-left: 70px; background: url('../img/membership_asterisk.png') center left no-repeat; margin-top: 20px; }
#main_content .membership_option .smallprint p { font-size: 16px; line-height: 26px; margin: 0; }
#main_content .membership-option-nid-25:not(.views-row-first) { display: none; }

#main_content .membership-add-to-cart-form-wrapper { display: none; }

/* Publications Boxes */

#main_content .publication_preview { position: relative; width: 100%; margin: 40px 0; background-color: #fff; }
#main_content .main_col .publication_preview img { width: 50%; height: auto; margin: 0; }
#main_content .publication_preview .sample_box { position: absolute; right: 0; top: 0; width: 50%; height: 100%; background-color: rgba(0, 137, 150, 0.15); }
#main_content .publication_preview .sample_box .btn { position: absolute; left: 50%; top: 50%; width: 230px; border: 0; transform: translate(-50%, -50%); color: #fff; }

/* Pricing Table */

#main_content .pricing_table { margin-top: 30px; overflow: hidden; }
#main_content .pricing_table.external_event { display: none; }
#main_content .pricing_table .views-row:first-of-type .row { border-top: 2px solid #000; }
#main_content .pricing_table .row { position: relative; border-bottom: 2px solid #000; padding: 20px 0; margin: 0; overflow: hidden; }
#main_content .pricing_table .row p { font-size: 22px; line-height: 40px; margin: 0; }
#main_content .pricing_table .row .title { position: absolute; left: 0; top: 50%; width: calc(100% - 250px); line-height: 35px; transform: translateY(-50%); }
#main_content .pricing_table .row .quantity { float: right; width: 220px; overflow: hidden; margin: 0; }
#main_content .pricing_table .row .quantity input { float: left; width: 70px; height: 50px; font-size: 18px; line-height: 50px; padding: 0; margin: 0; border: 0; border-radius: 0; text-align: center; -wbekit-appearance: none; border: 0; border-radius: 0; }
#main_content .pricing_table .row .quantity .price { float: left; position: relative; width: 120px; padding-left: 30px; margin-left: 30px; line-height: 50px; text-align: right; text-transform: uppercase; }
#main_content .pricing_table .row .quantity .price::before { content: 'x'; position: absolute; left: 0; top: 50%; transform: translateY(-50%); text-transform: none; }
#main_content .pricing_table input[type="submit"] { float: right; font-family: 'Exo', sans-serif; font-size: 18px; font-weight: 700; color: #fff; display: inline-block; padding: 15px 30px; text-align: center; text-transform: uppercase; margin: 30px 0 0 30px; border: 0; border-radius: 0; cursor: pointer; }
#main_content .pricing_table .views-field-title { margin: 0; }

#main_content .pricing_table .view-conference-tickets .row { position: relative; border-top: 2px solid #000; border-bottom: none !important; padding: 20px 0; margin: 0; overflow: hidden; }
#main_content .pricing_table .view-conference-tickets #edit-line-item-fields { position: relative; border-top: 2px solid #000; border-bottom: 2px solid #000; padding: 20px 0; margin: 0; overflow: hidden; }
#main_content .pricing_table .view-conference-tickets #edit-line-item-fields .form-type-checkboxes > label { position: relative; left: 0; top: 0; font-size: 22px; line-height: 26px; font-weight: 700; color: #50535a; text-transform: uppercase; padding: 0; margin: 0 0 30px 0; }
#main_content .pricing_table .view-conference-tickets #edit-line-item-fields .form-type-checkboxes > .description { margin-left: 0; margin-top: 30px; }
#main_content .pricing_table .view-conference-tickets #edit-line-item-fields .form-checkboxes > .form-item { position: relative; }
#main_content .pricing_table .view-conference-tickets #edit-line-item-fields .form-checkboxes > .form-item input[type="checkbox"] { position: absolute; left: 0; top: 0; height: 100%; margin: 0; width: 30px; background: #ffffff; }
#main_content .pricing_table .view-conference-tickets #edit-line-item-fields .form-checkboxes > .form-item label { display: block; position: relative; left: 0; top: 0; font-size: 18px; line-height: 36px; padding: 0 15px 0 40px; margin: 20px 0; cursor: pointer; }
#main_content .pricing_table .view-conference-tickets #edit-line-item-fields .form-checkboxes > .form-item label .conference-event-label { color: #60279d; }
#main_content .pricing_table .view-conference-tickets #edit-line-item-fields .form-checkboxes > .form-item.form-disabled label .conference-event-label,
#main_content .pricing_table .view-conference-tickets #edit-line-item-fields .form-checkboxes > .form-item.form-disabled label .conference-event-details { text-decoration: line-through; color: #50535a; }
#main_content .pricing_table .view-conference-tickets #edit-line-item-fields .form-checkboxes > .form-item label .conference-event-details .field-label { display: none; }

#main_content #tickets_info { padding: 20px; margin: -20px 0 30px 0; background-color: #e7e0f1 }
#main_content #tickets_info p { margin: 0; }
#main_content #tickets_info p a { color: #60279d; border-color: #60279d; }
#main_content #tickets_info p strong { font-weight: 700; }

/* Listings */

#main_listing { padding: 4vw 0; background-color: #fff; }
.front #main_listing { margin: 0; }

.listing { position: relative; }
.listing h2 { padding: 4vw 4vw 0 4vw; margin: 0; clear: both; }
.listing .list { padding: 2vw; overflow: hidden; background-color: #fff; }
.listing .list .item { float: left; display: block; width: 33.33%; padding: 2vw; }
.listing .list .item img { width: 100%; height: auto; }
.listing .list .item .inner { position: relative; overflow: hidden; transform: scale(1); transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 300ms; }
.listing .list .item .inner:hover { transform: scale(1.05); }
.listing .list .item .inner .placeholder_image { position: relative; width: 100%; height: 16.25vw; overflow: hidden; }
.listing .list .item .inner .placeholder_image::after { content: ''; position: absolute; right: -4vw; bottom: -6vw; width: 20vw; height: 20vw; background: url('../img/focus_group_logo.png') center no-repeat; background-size: cover; }
.listing .list .item .inner .info { position: relative; width: 100%; padding: 2vw; background-color: #fff; }
.listing .list .item .inner .info p { font-size: 16px; line-height: 26px; height: auto; margin: 0; overflow: hidden; }
.listing .list .item .inner .info p.date { height: auto !important; margin-bottom: 20px; }
.listing .list .item .inner .info p strong { display: block; font-weight: 700; }
.listing .list .item .inner .info p a { font-weight: 400; }
.listing .list .item .inner .info .btn { width: 100%; padding: 15px; margin-top: 25px; }
.listing .btn.view_all { position: absolute; right: 4vw; top: 4vw; }

#events_listing .views-row:nth-of-type(3n+1) { clear: both; }
#events_listing .list .item .info { padding: 2vw 2vw 2vw calc(4vw + 30px); }
#events_listing .list .item .info .date { position: absolute; left: 2vw; top: 2vw; width: 30px; text-align: center; }
#events_listing .list .item .info .date .month { font-size: 12px; letter-spacing: 4px; text-transform: uppercase; margin-top: 7px; }
#events_listing .list .item .info .date .day { font-size: 25px; font-weight: 400; text-transform: uppercase; margin-top: 5px; }
#events_listing .list .item .info .btn { width: calc(100% + 2vw + 30px); margin-left: calc(-2vw - 30px); }

#news_listing .views-row:nth-of-type(3n+1) { clear: both; }
#news_listing .list .item .inner .placeholder_image { height: 23vw; }
#news_listing .list .item .inner .placeholder_image::after { width: 24vw; height: 24vw; }

#publications_listing { margin-top: 0; }
#publications_listing .views-row:nth-of-type(4n+1) { clear: both; }
#publications_listing .view_all { background-color: #81bc00; }
#publications_listing .list .item { width: 25%; }
#publications_listing .list .item .info p { font-size: 22px; height: auto; line-height: 40px; font-weight: 400; }
#publications_listing .list .item .info .btn { width: 100%; padding: 15px; background-color: #81bc00; }

#people_listing .views-row:nth-of-type(3n+1) { clear: both; }
#people_listing .alarm_role { position: relative; font-size: 20px; line-height: 20px; font-weight: 700; padding-left: 28px; margin: -5px 0 10px 0; }
#people_listing .alarm_role img { position: absolute; left: 0; top: 0; height: 18px !important; width: 18px !important; }
#people_listing .list .member { float: left; width: 33.33%; }
#people_listing .list .item { float: none !important; width: 100% !important; }
#people_listing .list .item .info p { height: auto; }
#people_listing .list .item .info .btn { cursor: pointer; }

#people_listing .modal { z-index: 600; position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; transition: opacity cubic-bezier(0.65, 0.05, 0.36, 1) 200ms; pointer-events: none; background-color: rgba(0,0,0,0.4); }
#people_listing .modal.open { opacity: 1; pointer-events: all; }
#people_listing .modal .inner { z-index: 320; position: absolute; left: 50%; top: 50%; width: 600px; max-width: calc(100% - 40px); max-height: calc(100% - 40px); transform: translate(-50%, -50%); background-color: #fff; overflow: scroll; -webkit-overflow-scrolling: touch; }
#people_listing .modal .inner img { display: block; width: 100%; height: auto; }
#people_listing .modal .inner .info { padding: 2vw; }
#people_listing .modal .inner .info a { display: block; color: #3d7dca; margin: -10px 0 20px 0; }
#people_listing .modal .inner .info p { font-size: 16px; line-height: 25px; margin-bottom: 15px; }
#people_listing .modal .inner .info p.alarm_role { font-size: 20px; line-height: 20px; font-weight: 700; padding-left: 28px; margin: -5px 0 10px 0; color: #50535a; }
#people_listing .modal .inner .info p strong { display: block; font-size: 20px; line-height: 30px; font-weight: 700; color: #777a80; }
#people_listing .modal .inner .info p em { font-size: 20px; line-height: 30px; }

#resource_pages_listing { margin-top: -8vw; }
#resource_pages_listing .views-row:nth-of-type(3n+1) { clear: both; }

#members_search_listing { margin-top: -8vw; }
#members_search_listing .list .item .info p { height: auto; }
#members_search_listing .views-row:nth-of-type(3n+1) { clear: both; }
#members_search_listing .view-filters { position: relative; width: 100%; padding: 0 2vw; margin: 2vw 0; }
#members_search_listing .view-filters select,
#members_search_listing .view-filters input[type="text"] { width: 100%; height: 80px; padding: 20px 140px 20px 20px; border: 0; border-radius: 0; background-color: #dcedef; font-family: 'Exo', sans-serif; font-size: 22px; font-weight: 400; color: #50535a; line-height: 40px; }
#members_search_listing .view-filters input[type="submit"] { position: absolute; right: 2vw; top: 0; width: 120px; height: 80px; font-family: 'Exo', sans-serif; font-size: 18px; font-weight: 700; color: #fff; line-height: 80px; text-transform: uppercase; text-align: center; border: 0; border-radius: 0; background: #00a1e1; cursor: pointer; }
#members_search_listing #edit-field-company-target-id-wrapper { margin-top: 20px; }
#members_search_listing #edit-field-company-target-id-wrapper label { font-size: 22px; margin-bottom: 5px; }
#members_search_listing #edit-field-company-target-id-wrapper,
#members_search_listing #edit-combine-wrapper { width: 100%; }

#main_focus_groups { background-color: #afd9dd; }
#main_focus_groups .views-row:nth-of-type(3n+1) { clear: both; }

#focus_groups_listing .views-row:nth-of-type(3n+1) { clear: none; }
#focus_groups_listing .views-row:nth-of-type(2n+1) { clear: both; }
#focus_groups_listing .list { background-color: transparent; }
#focus_groups_listing .list .item { width: 50%; }
#focus_groups_listing .list .item .inner { position: relative; overflow: hidden; }
#focus_groups_listing .list .item .background { position: absolute; right: 0; top: 0; width: 40%; height: 100%; }
#focus_groups_listing .list .item .info { float: left; width: 60%; height: 370px; }
#focus_groups_listing .list .item .info .btn { position: absolute; left: 2vw; bottom: 2vw; width: auto; margin-top: 20px; }

.page-members-export #main_content .wrapper { padding: 0; }
.page-members-export #main_content .main_col { float: none; width: 100%; padding: 0; }
.page-members-export #main_content .main_col h2 { padding: 2vw 2vw 0 2vw; margin: 0; }
.page-members-export #main_content .listing .list .item .inner .info h3 { margin-top: 0; }
.page-members-export #main_content .feed-icon { padding: 0 2vw; }
.page-members-export #main_content .feed-icon a { display: inline-block; border: 0; margin-right: 30px; }
.page-members-export #main_content .feed-icon a img { display: none; }
.page-members-export #main_content .feed-icon a::before { font-size: 18px; font-weight: 700; color: #fff; display: inline-block; padding: 15px 30px; text-align: center; text-transform: uppercase; background-color: #00a1e0; }
.page-members-export #main_content .feed-icon a:nth-of-type(1)::before { content: 'CSV'; }
.page-members-export #main_content .feed-icon a:nth-of-type(2)::before { content: 'XLS'; }
.page-members-export #main_content .feed-icon a:nth-of-type(3)::before { content: 'XML'; }
.page-members-export #members_search_listing { margin-top: -4vw; }
.page-members-export #members_search_listing .view-filters input[type="submit"] { display: none; }
.page-members-export #edit-field-membership-type-tid-wrapper { width: 100%; }

/* Post a Job */

#post_a_job { padding: 2vw; clear: both; }
#post_a_job .inner { padding: 4vw; text-align: center; background-color: #008996; }
#post_a_job .inner h2 { padding: 0; color: #ffffff; }
#post_a_job .inner p { display: block; width: 100%; max-width: 100%; margin: 2vw auto; color: #ffffff; }
#post_a_job .inner .btn { background-color: #55a9b1; }

#main_content .field-commerce-price { position: absolute; bottom: 13px; left: 190px; font-size: 18px; font-weight: 700; }

.page-node-34 #block-views-jobs-list-related-block { display: none; }
.page-node-34 .field-name-commerce-stock, .page-node-34 .field-name-commerce-stock-override { display: none; }

/* Error Messages */

div.messages { margin: 10px 0 20px 0; }
div.messages.status,
div.messages.error  { background-color: #00a1e1; background-image: none; color: #ffffff; border: none; padding: 20px; margin-bottom: 20px; }
#main_content .main_col .body div.messages ul { margin: 0px; }
#main_content .main_col .body .messages a { color: #ffffff !important; border-bottom: 2px solid #ffffff !important; }
#edit-mimemail { display: none; }
#edit-picture { display: none; }
#edit-timezone { display: none; }

/* Contact */

.page-node-63 #main_content .wrapper { padding-bottom: 0; }
.page-node-63 #main_content .field-name-field-google-map-address::before { content: 'Find us'; display: block; font-size: 40px; font-weight: 700; line-height: 45px; margin: 40px 0 -30px 0; text-transform: uppercase; }
.page-node-63 #main_listing { padding-top: 0; }
.page-node-63 #main_listing h2 { padding: 4vw 2vw 0 2vw; }

/* Members Dashoboard */

.page-node-135 #main_listing,
.page-node-135 #news_listing,
.page-node-135 #events_listing { padding: 0; }
.page-node-135 .listing h2 { padding: 0 2vw; }

/* Forum Overrides */

.page-forum #main_content .main_col { width: 100%; padding-right: 0; margin-top: 70px; }
.node-type-forum #main_content .main_col { width: 100%; padding-right: 0; }
.page-forum .images { background-color: #81c341; }
.page-forum .images .image { background: url('/sites/default/files/forum.jpg') center no-repeat; background-size: cover;  }
.page-forum .info .boxes .box { background: #00abe8; }

#main_content .main_col .forum-table { margin-top: 20px; }
#main_content .main_col .forum-table td { padding: 15px; }
#main_content .main_col .forum-table th a img { display: inline-block; width: auto; height: auto; margin: 0; }
#main_content .main_col .af-button-large { display: inline-block; width: auto; height: auto; padding: 15px 30px; font-size: 18px; line-height: 18px; font-weight: 700; text-transform: uppercase; color: #fff !important; margin: 10px 0; background: #008996 !important; border: 0 !important; cursor: pointer; }
#main_content .main_col #sort-topic-submit { padding: 15px 30px !important; margin: 20px 0 !important; }
#main_content .main_col .title.comment-form { display: none; }

.forum-node-create-links { padding: 30px 0 ; }

/* Forum Page Styling */

th.forum-name { padding-top: 10px; }

tr.even td.forum-list-icon-default .forum-list-icon-wrapper span, tr.odd td.forum-list-icon-default .forum-list-icon-wrapper span { background: url(../img/folder-icons/folder_white.png); background-repeat: no-repeat; background-size: contain; background-position: top; height: 65px; width: 25px; }

.page-forum #main_content .topic-icon-default { background-image: url(../img/folder-icons/speech.png); background-repeat: no-repeat; background-size: contain; background-position: left; }
.forum-topic-legend div { padding: 5px 0 5px 45px; margin-top: 5px; margin-bottom: 5px; }
tr.even td.forum-folder-new-posts .forum-list-icon-wrapper span, tr.odd td.forum-folder-new-posts .forum-list-icon-wrapper span, .forum-list-icon-legend .forum-list-icon-new-posts { background-image: url(../img/folder-icons/new_posts_blue.png); background-size: contain; width: 30px; height: 30px; margin-bottom: 10px; }
.forum-list-legend-item { padding-top: 20px; }
.forum-list-icon-legend .forum-list-icon-default { background-image: url(../img/folder-icons/folder_blue.png); background-size: contain; width: 30px; height: 30px; margin-bottom: 10px }
.topic-icon-new { background-image: url(../img/folder-icons/new_posts_blue.png); background-size: contain; padding-top: 10px; }
.topic-icon-hot-new { background-image: url(../img/folder-icons/hot_with_new_blue.png); background-size: contain; }
.topic-icon-hot { background-image: url(../img/folder-icons/hot_without_new_blue.png); background-size: contain; }
.topic-icon-sticky { background-image: url(../img/folder-icons/sticky_blue.png); background-size: contain; }
.topic-icon-closed { background-image: url(../img/folder-icons/locked_blue.png); background-size: contain; }
.forum-topic-legend .topic-icon-default { background-image: url(../img/folder-icons/folder_blue.png) !important; }

.page-forum #main_content .tabs { margin-top: 50px; }
.page-forum #main_content .tabs li a { background-color: #00abe6; color: #ffffff; text-transform: uppercase; border: none; padding: 5px 25px; font-weight: 600; }
.page-forum #main_content .tabs li.active a { background: #86cef2; color: #000000; }
.page-forum #main_content .views-submit-button { clear: both; margin-bottom: 20px; }

.page-forum .forum-table-superheader { background: #00abe7; color: #ffffff; border: none; }
.forum-table thead tr { background: #1bb8eb; color: #ffffff; border: none !important; padding: 15px; }
.forum-table tr.even,
.forum-table tr.odd { background: #1bb8eb; color: #ffffff; }

.page-forum #main_content .main_col .forum-table { margin-top: 0; border: none !important; background: #00abe7; color: #ffffff; }
.page-forum #main_content .main_col .forum-table td { padding: 15px; }
.page-forum #main_content .main_col .body a { color: #ffffff; }
.page-forum #main_content .main_col .forum-node-create-links { line-height: 25px; }
.page-forum #main_content .main_col .forum-node-create-links a { color: #000000; }

.page-forum #main_content form input, #main_content form select, #main_content form textarea { border-radius: 0; background: #86cef2; }

.page-forum #forum-statistics { border: none; }
.page-forum #forum-statistics-header { border: none; background: #00abe7; color: #ffffff; padding: 15px; }
.page-forum #forum-statistics-active-header { border: none; background: #1bb8eb; color: #ffffff; padding: 15px 15px 5px 15px; }
.page-forum #forum-statistics-active-body { border: none; background: #1bb8eb; color: #ffffff; padding: 0 15px 15px 15px; }
.page-forum #forum-statistics-statistics-header { border: none; background: #1bb8eb; color: #ffffff; padding: 15px 15px 5px 15px; font-weight: 600; }
.page-forum #forum-statistics-statistics-body { border: none; background: #1bb8eb; color: #ffffff; padding: 0 15px 15px 15px; }

.node-type-forum .forum-post { border: none; }
.node-type-forum .forum-post .forum-post-info { border: none; background: #00abe7; color: #ffffff; padding: 15px; font-weight: 600; }
.node-type-forum .forum-post .forum-post-wrapper { border: none; background: #1bb8eb !important; color: #ffffff; }
.node-type-forum .forum-post .forum-post-wrapper .author-pane a.username { color: #ffffff !important; }
.node-type-forum .forum-post .forum-post-title { background: #86cef2; border-left: none; color: #ffffff; }
.node-type-forum .forum-post .forum-post-panel-main { background: #86cef2; }
.node-type-forum .forum-post .forum-post-footer { background: #00abe6 !important; border: none; }
.node-type-forum .forum-post .forum-post-footer li::before { display: none; }
.node-type-forum .forum-post .forum-post-footer a { background: #00abe6 !important; border: none; color: #ffffff;}
.node-type-forum .forum-post .forum-post-footer a span { color: #ffffff; }

/* Registrations */

.page-node-registrations #main_content .main_col ul.tabs.secondary { display: none; }
.page-node-registrations #main_content .main_col .body table th { min-width: 60px; }

.page-registration #main_content .main_col .body .registration-conference-event-registration .content .field { margin: 15px 0; }
.page-registration #main_content .main_col .body .registration-conference-event-registration .content > a { margin: 15px 0; }

/* Email Signup */

#email_signup p.small { font-size: 14px; line-height: 24px; }
#email_signup .text { z-index: 300; position: relative; background-color: #b4008e; color: #fff; }
#email_signup .text::before { display: none; content: 'Scroll'; z-index: 300; position: absolute; margin-left: 100%; left: 50%; bottom: 50px; width: 50px; color: #3d7ccb; text-align: center; font-weight: 700; text-transform: uppercase; transform: translateX(-50%); }
#email_signup .text::after { display: none; content: ''; z-index: 300; position: absolute; margin-left: 100%; left: 50%; bottom: 0; width: 3px; height: 40px; background-color: #3d7ccb; transform: translateX(-50%); }
#email_signup .text .agree label { display: inline-block; width: auto; }
#email_signup .text .signup { position: relative; margin-top: 20px; }
#email_signup .text .signup input[type="email"] { width: 100%; height: 53px; padding-right: 100px; font-family: 'Exo', sans-serif; font-size: 22px; line-height: 50px; color: #fff; border: 0; border-radius: 0; background: #b4008e; -webkit-appearance: none; }
#email_signup .text .signup input[type="email"]::-webkit-input-placeholder { color: #f992da; }
#email_signup .text .signup input[type="email"]:-moz-placeholder { color: #f992da; }
#email_signup .text .signup input[type="email"]::-moz-placeholder { color: #f992da}
#email_signup .text .signup input[type="email"]:-ms-input-placeholder { color: #f992da; }
#email_signup .text .signup input[type="email"]::-ms-input-placeholder { color: #f992da; }
#email_signup .text .signup button { position: absolute; right: 0; top: 0; width: 80px; height: 53px; font-family: 'Exo', sans-serif; font-size: 18px; font-weight: 700; line-height: 50px; color: #fff; text-transform: uppercase; background: #b4008e; }
#email_signup .twitter { position: absolute; right: 0; top: 0; width: 50%; height: 100%; padding: 4vw; background-color: #fff; overflow: scroll; -webkit-overflow-scrolling: touch; }

/* Partner Logos */

#partners .wrapper { padding-bottom: 0; }
#partners .list { overflow: hidden; }
#partners .list a { float: left; margin: 0 4vw 4vw 0; }
#partners .list a img { width: auto; height: 50px; }

/* Footer */

#main_footer { height: 25vw; background: url('../img/footer_bg.png') top -80% right no-repeat #3d7dca; background-size: auto 120%; color: #fff; }
#main_footer p { font-size: 18px; font-weight: 400; margin-bottom: 10px; }
#main_footer p a { font-weight: 700; margin-right: 20px; }
#main_footer .side { position: relative; float: left; width: 50%; height: 100%; }

#main_footer .side.left .social { position: absolute; left: 0; bottom: 0; }
#main_footer .side.left .social li { float: left; margin-right: 15px; }
#main_footer .side.left .social li a { display: block; width: 60px; height: 60px; font-size: 0; color: transparent; }
#main_footer .side.left .social li a.fb { background: url('../img/social/fb.png') center no-repeat #fff; }
#main_footer .side.left .social li a.ig { background: url('../img/social/ig.png') center no-repeat #fff; }
#main_footer .side.left .social li a.tw { background: url('../img/social/tw.png') center no-repeat #fff; }
#main_footer .side.left .social li a.in { background: url('../img/social/in.png') center no-repeat #fff; }

#main_footer .side.right p { position: absolute; left: 0; bottom: 0; line-height: 18px; margin: 0; }
#main_footer .side.right .menu-block-wrapper > .menu { padding: 5px 0; }
#main_footer .side.right .menu-block-wrapper > .menu::after { content: ''; display: block; clear: both; }
#main_footer .side.right .menu-block-wrapper > .menu > li { position: relative; float: left; margin-right: 15px; }
#main_footer .side.right .menu-block-wrapper > .menu > li:last-of-type { margin-right: 0; }
#main_footer .side.right .menu-block-wrapper > .menu > li > a { font-size: 13px; line-height: 26px; font-weight: 700; text-transform: uppercase; }

/* Views Pager */

#main_content .main_col .body .pager { padding: 0 2vw; }
#main_content .main_col .body .pager li { margin: 0 10px; }
#main_content .main_col .body .pager li::before { display: none; }

/* Login */
.node-type-forum.role-authenticated-user .captcha { padding-bottom: 75px; }
.node-type-forum.role-full-member.captcha { padding-bottom: 75px; }

.page-user .g-recaptcha { margin-top: 30px;}
.page-user .g-recaptcha iframe { height: 80px !important; padding: 0 !important; }

/* Responsive */

@media all and (min-width : 751px) {

	/* Featured Post */

	.listing .list .item.featured { float: none; width: 100%; }
	.listing .list .item.featured .inner:hover { transform: scale(1.025); }
	.listing .list .item.featured .inner .placeholder_image { height: calc(16.25vw + 330px); }
	.listing .list .item.featured .inner .placeholder_image::after { background: url('../img/header_watermark.png') center no-repeat; background-size: cover; right: -8vw; bottom: -12vw; width: 40vw; height: 40vw; }
	.listing .list .item.featured .inner .info { position: absolute; left: 4vw; width: calc(66% - 8vw); transform: translateY(-100%); margin-top: -4vw; }
	.listing .list .item.featured .inner .info::before { content: ''; z-index: -200; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #fff; }
	.listing .list .item.featured .inner .info::after { content: ''; z-index: -100; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
	.listing .list .item.featured .inner .info p { height: 52px; }
	.listing .list .item.featured .inner .info .btn { width: auto !important; }
}

@media all and (max-width : 1200px) {

	/* Membership */

	#main_content .main_col .membership_option .table .left { width: 100%; height: 300px; }
	#main_content .main_col .membership_option .table .left .title { float: left; width: 50%; height: 100%; }
	#main_content .main_col .membership_option .table .left .pricing { float: left; width: 50%; height: 100%; }
	#main_content .main_col .membership_option .table .right { min-height: 0; padding: 330px 30px 130px 30px; }
	#main_content .main_col .membership_option .table .right .apply { width: 100%; }
}

@media all and (max-width : 1000px) {

    /* Navigation */
    
    #main_nav #menu_blocks { right: 170px; }
    #main_nav .menu-block-wrapper > .menu > li { margin-right: 14px; }
    #main_nav .search_btn { right: -42px; }
    
	/* Header */

	#main_slider { height: calc(720px + 10vw); }
	#main_slider .images { height: 500px; }
	#main_slider .info { width: 84vw; min-width: 0; }
	#main_slider .info .ticker { right: auto; top: 50%; margin: 20px 0 0 -20px; transform: none; }

	#main_header .info { width: 84vw; min-width: 0; }

	/* Call to Actions */

	.cta .image { position: relative; width: 100%; height: 50vw; }
	.cta .text { width: 100%; padding: 4vw; }
	.cta.left .text { margin-right: 0; }
	.cta.right .text { margin-left: 0; }

	#cta_2 .image::after { bottom: -20vw; width: 60vw; height: 60vw; }

	/* Content */

	#main_content .wrapper { padding: 6vw 2vw; }
	#main_content .main_col { float: none; width: 100%; padding: 0 2vw; }
	#main_content .main_col .body .field-name-field-downloads,
	#main_content .main_col .body .gallery { width: 96vw; }
	#main_content .main_col .body .gallery .container { width: 24vw; height: 24vw; }
	#main_content .main_col .body iframe,
	#main_content .main_col .body .youtube-container--responsive { height: 65vw; }

	#main_content .side_col { float: none; clear: both; width: 100%; padding: 0 2vw; }
	#main_content .side_col .views-row { float: left; width: 50%; }
	#main_content .side_col .views-row:nth-of-type(odd) { clear: both; }
	#main_content .side_col .views-row .box { padding: 2vw; margin: 0; }
	#main_content .side_col .views-row .box .placeholder_image { height: 25.5vw; }
	#main_content .side_col .views-row .box .placeholder_image::after { right: -6vw; bottom: -6vw; width: 28vw; height: 28vw; }

	/* Listings */

	.listing .list .item { width: 50%; }
	.listing .btn.view_all { top: 25px; }
	.listing .list .item .inner .placeholder_image { height: 25.5vw; }
	.listing .list .item .inner .placeholder_image::after { width: 28vw; height: 28vw; }
	.listing .list .item.featured .inner .info { width: calc(100% - 8vw); }

	#events_listing .views-row:nth-of-type(3n+1) { clear: none; }
	#events_listing .views-row:nth-of-type(2n+1) { clear: both; }
	#news_listing .views-row:nth-of-type(3n+1) { clear: none; }
	#news_listing .views-row:nth-of-type(2n+1) { clear: both; }
	#news_listing .list .item .inner .placeholder_image { height: 36vw; }
	#news_listing .list .item .inner .placeholder_image::after { width: 36vw; height: 36vw; }
	#publications_listing .list .item { width: 50%; }
	#people_listing .views-row:nth-of-type(3n+1) { clear: none; }
	#people_listing .views-row:nth-of-type(2n+1) { clear: both; }
	#people_listing .list .member { width: 50%; }
	#resource_pages_listing .views-row:nth-of-type(3n+1) { clear: none; }
	#resource_pages_listing .views-row:nth-of-type(2n+1) { clear: both; }
	#members_search_listing .views-row:nth-of-type(3n+1) { clear: none; }
	#members_search_listing .views-row:nth-of-type(2n+1) { clear: both; }
	#focus_groups_listing .list .item { float: none; width: 100%; }

	/* Email Signup */

	#email_signup .text::before { margin-left: 0; bottom: calc(-50vh + 50px); }
	#email_signup .text::after { margin-left: 0; bottom: -50vh; }
	#email_signup .twitter { position: relative; width: 100%; height: 50vh; }
}

@media all and (max-width : 950px) {

	/* Navigation */

	#main_nav .menu_btn { display: block; }
	#main_nav .login_btn { right: 60px; top: 50%; margin-top: 1px; color: #00a1e0; transform: translateY(-50%); }
	#main_nav .login_btn::before { display: none; }
	#main_nav #menu_blocks { display: none; }

	/* Footer */

	#main_footer { background: #3d7dca; height: auto; }
	#main_footer .side { float: none; width: 100%; }
	#main_footer .side.left .social { position: relative; overflow: hidden; margin: 30px 0; }
	#main_footer .side.right p { position: relative; margin-top: 30px; }
}

@media all and (max-width : 870px) {

	.page-forum #main_content .tabs { position: relative; }
	.page-forum #main_content .tabs li { display: block; clear: both; margin: 15px 0; }

	.page-forum #main_content .wrapper { padding: 45px 10px; }
	.page-forum #main_content .wrapper .full_width { padding: 0; }

	.page-forum #main_content .forum-icon { display: none; }
	.page-forum #main_content .forum-list-icon { display: none; }
	.page-forum #main_content .forum-name { padding-left: 15px }
}

@media all and (max-width : 825px) {

	#sliding-popup .popup-content { text-align: center; }
	#sliding-popup .popup-content #popup-text { max-width: 100%; width: 100%; }
	#sliding-popup .popup-content #popup-buttons { clear: both; margin-top: 30px; display: inline-block; text-align: center; float: none; max-width: 100%; width: 100%; }
}

@media all and (max-width : 750px) {

	/* General */

	.wrapper { padding: 30px; }
	h2 { font-size: 32px; line-height: 37px; }

	/* Header */

	#main_slider { height: auto; padding: 0 0 30px 0; }
	#main_slider .images { height: 50vw; }
	#main_slider .info { position: relative; width: 100%; margin-left: 0; }
	#main_slider .info .boxes { position: relative; transform: none; }
	#main_slider .info .boxes .box { height: auto; padding: 30px; }
	#main_slider .info .ticker { position: relative; margin: 30px 0 0 15px; }
	#main_slider .info .ticker .pip { margin-left: 15px; }

	#main_header { height: auto; padding: 0; }
	#main_header .images { height: 50vw; }
	#main_header .info { position: relative; bottom: 0; width: 100%; margin-left: 0; transform: none; }
	#main_header .info .boxes .box { height: auto; padding: 30px; }

	/* Call to Actions */

	.cta .text { padding: 30px; }

	#cta_3 .wrapper { padding: 60px; }

	/* Content */

	#main_content { margin-bottom: 60px; }
	#main_content .wrapper { padding: 45px 15px; }
	#main_content .main_col { padding: 0 15px; }
	#main_content .main_col .body .field-name-field-downloads { width: calc(100% + 30px); padding: 0; margin-left: -15px; }
	#main_content .main_col .body .field-name-field-downloads .file,
	#main_content .main_col .body .field-name-field-downloads .file a,
	#main_content .main_col .body .field-name-field-downloads .file a:after { padding: 15px; }
	#main_content .main_col .body .field-name-field-downloads-listing > .field-items > .field-item { padding: 15px 15px 15px 265px; }
	#main_content .main_col .body .field-name-field-downloads-listing .field-name-field-file-image { padding: 15px; }
	#main_content .main_col .body .field-name-field-downloads-listing .field-name-field-file-image img { left: 15px; width: calc(100% - 30px); }
	#main_content .main_col .body .gallery { width: calc(100% + 30px); padding: 0; margin-left: -15px; }
	#main_content .main_col .body .gallery .container { width: 50%; height: 46vw; padding: 15px; }
	
	#main_content .side_col { padding: 0 15px; }
	#main_content .side_col .views-row { float: none; width: 100%; }
	#main_content .side_col .views-row .box { padding: 15px; }
	#main_content .side_col .views-row .box .inner .info { padding: 15px; }
	#main_content .side_col .views-row .box .placeholder_image { height: 53vw; }
	#main_content .side_col .views-row .box .placeholder_image::after { right: -10vw; bottom: -10vw; width: 56vw; height: 56vw; }

	/* Award Winners */

	#main_content .field-name-field-award-participants > .field-items > .field-item { padding: 15px 15px 15px 265px; }
	#main_content .field-name-field-award-participants > .field-items > .field-item .field-name-field-sponsor-logo { padding: 15px; }
	#main_content .field-name-field-award-participants > .field-items > .field-item .field-name-field-sponsor-logo img { max-width: calc(100% - 30px); }

	/* Gallery */

	#main_gallery { padding: 30px 0; margin: -60px 0 60px 0; }
	#main_gallery .images { padding: 15px; }
	#main_gallery .images .image { width: 50%; padding: 15px; }

	/* Listings */

	#main_listing { padding: 0 0 60px 0; }
	#main_listing h2 { padding: 60px 30px 0 30px; }
	#main_listing .btn.view_all { position: relative; left: 30px; right: 0; top: 0; width: calc(100% - 60px) }

	.listing .list { padding: 15px; }
	.listing .list .item { width: 100%; padding: 15px; }
	.listing .list .item .inner .info { padding: 15px; }
	.listing .list .item .inner .info p { height: auto; }
	.listing .list .item .inner .placeholder_image { height: 53vw; }
	.listing .list .item .inner .placeholder_image::after { right: -10vw; bottom: -10vw; width: 56vw; height: 56vw; }
	.listing .list .item.featured .inner .info { width: 100%; }
	.listing .views-row { clear: none; }

	#events_listing .list .item .info { padding: 15px 15px 15px 60px; }
	#events_listing .list .item .info .date { left: 15px; top: 15px; }
	#events_listing .list .item .info .btn { width: calc(100% + 45px); margin-left: -45px; }
	
	#people_listing .list .member { width: 100%; }
	#people_listing .modal .inner .info { padding: 15px; }

	#main_focus_groups { padding: 30px 0; }
	#focus_groups_listing .list .item .background { position: relative; width: 100%; height: 40vw; border: 0; }
	#focus_groups_listing .list .item .info { float: none; width: 100%; height: auto; }
	#focus_groups_listing .list .item .info p { height: auto; }
	#focus_groups_listing .list .item .info .btn { position: relative; left: 0; bottom: 0; }

	/* Sponsor Tiers */

	#main_content .sponsor_tiers .block { padding: 15px 15px 0 15px; margin: 15px 0; }
	#main_content .sponsor_tiers .block .views-row a img { margin: 0 15px 15px 0; }

	/* Contact */

	.page-node-63 #main_content .field-name-field-google-map-address::before { font-size: 32px; line-height: 37px; }

	/* Members Dashboard */

	.page-node-135 #main_listing h2 { padding: 0 30px; }

	/* Post a Job */

	#post_a_job { padding: 15px; }
	#post_a_job .inner { padding: 30px;  }
	#post_a_job .inner p {  margin: 15px auto; }

	/* Search */

	.page-search #main_content .main_col .search_result { margin-bottom: 15px; padding-bottom: 15px; }

	/* Partner Logos */

	#partners .list { padding-bottom: 15px; }
	#partners .list a { margin: 0 15px 15px 0; }
}

@media all and (max-width : 600px) {

	/* Content */

	#main_content .main_col .membership_option .table .left { position: relative; height: auto; }
	#main_content .main_col .membership_option .table .left .title { float: none; width: 100%; }
	#main_content .main_col .membership_option .table .left .title h2,
	#main_content .main_col .membership_option .table .left .title h3 { position: relative; left: 0; top: 0; padding: 30px 0; transform: none; }
	#main_content .main_col .membership_option .table .left .pricing { float: none; width: 100%; margin: 0; }
	#main_content .main_col .membership_option .table .left .pricing .inner { position: relative; left: 0; top: 0; padding: 30px 0; transform: none; }
	#main_content .main_col .membership_option .table .left .pricing .inner .people { margin: 0 auto 20px auto; }
	#main_content .main_col .membership_option .table .left .pricing .inner .pp { margin-bottom: 40px; }
	#main_content .main_col .membership_option .table .right { min-height: 0; padding: 30px 30px 110px 30px; }
	#main_content .main_col .membership_option .table .right::before { z-index: 100; content: ''; position: absolute; left: 0; top: 60px; width: 100%; height: 30px; background: -moz-linear-gradient(top, rgba(194,240,146,1) 0%, rgba(194,240,146,0) 100%); background: -webkit-linear-gradient(top, rgba(194,240,146,1) 0%,rgba(194,240,146,0) 100%); background: linear-gradient(to bottom, rgba(194,240,146,1) 0%,rgba(194,240,146,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2f092', endColorstr='#00c2f092',GradientType=0 ); }
	#main_content .main_col .membership_option .table .right::after { z-index: 100; content: ''; position: absolute; left: 0; bottom: 110px; width: 100%; height: 60px; background: -moz-linear-gradient(top, rgba(194,240,146,0) 0%, rgba(194,240,146,1) 100%); background: -webkit-linear-gradient(top, rgba(194,240,146,0) 0%,rgba(194,240,146,1) 100%); background: linear-gradient(to bottom, rgba(194,240,146,0) 0%,rgba(194,240,146,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c2f092', endColorstr='#c2f092',GradientType=0 ); }
	#main_content .main_col .membership_option .table .right ul { position: relative; height: 250px; padding-top: 30px; margin-top: -25px; overflow: scroll; -webkit-overflow-scrolling: touch; }
	#main_content .main_col .membership_option .table .right ul:last-of-type { padding-bottom: 60px; }
	#main_content .main_col .membership_option .table .right .apply { width: 100%; height: 80px; padding: 30px 40px; }

	#main_content .main_col .body .field-name-field-downloads-listing > .field-items > .field-item { padding: 15px; }
	#main_content .main_col .body .field-name-field-downloads-listing .field-name-field-download a { width: 100%; }
	#main_content .main_col .body .field-name-field-downloads-listing .field-name-field-file-image { position: relative; width: calc(100% + 30px); height: auto; padding: 0; margin: -15px 0 15px -15px; }
	#main_content .main_col .body .field-name-field-downloads-listing .field-name-field-file-image img { position: relative; left: 0; top: 0; width: 100%; height: auto; transform: none; }

	/* Award Winners */

	#main_content .field-name-field-award-participants > .field-items > .field-item { padding: 15px; }
	#main_content .field-name-field-award-participants > .field-items > .field-item .field-name-field-sponsor-logo { position: relative; width: calc(100% + 30px); margin: -15px 0 20px -15px; }
	#main_content .field-name-field-award-participants > .field-items > .field-item .field-name-field-sponsor-logo img { position: relative; max-width: 100%; top: 0; transform: translateX(-50%); }
}

@media all and (max-width : 500px) {

	/* General */

	body { padding-top: 80px; }

	/* Navigation */

	.logo img { height: 28px; margin-top: -5px; }
	#main_nav { height: 80px; }
	#menu_overlay .logo img { margin-top: -5px; }
	#menu_overlay .navigation .login_btn { top: 7px; }
	#menu_overlay .navigation .menu_btn { top: 22px; }
	#menu_blocks_mobile { margin-top: 20px; }
	#menu_blocks_mobile .menu-block-wrapper { margin-top: 20px; }

	/* Call to Actions */

	#cta_3 .wrapper { padding: 60px 30px; }
	#cta_3 h2 { font-size: 25px; line-height: 35px; }

	/* Content */

	#main_content .main_col .membership_option .smallprint { background: none; padding-left: 0; }
	#main_content .main_col .body .gallery .container { float: none; width: 100%; height: calc(100vw - 30px); }
	#main_content .main_col .body .field-name-field-downloads .file { float: none; width: 100%; }

	/* Product Info */

	#main_content #block-views-event-tickets-block .row .title { position: relative; top: 0; width: 100%; transform: none; }
	#main_content #block-views-event-tickets-block .row .quantity { float: none; margin-top: 20px; }

	/* Listings */

	#publications_listing .list .item { float: none; width: 100%; }

	#focus_groups_listing .list .item .info .btn { width: 100%; }

	/* Search */

	.page-search #main_content .main_col .search_result .inner .info .btn { width: 100%; }

	/* Footer */

	#main_footer { text-align: center; }
	#main_footer .side.left .social { margin: 10px 0 20px 0; }
	#main_footer .side.left .social li { float: none; display: inline-block; margin: 0 7px; }
	#main_footer .side.left .social li a { width: 45px; height: 45px; background-size: auto 25px !important; }
	#main_footer .side.right .menu-block-wrapper > .menu { text-align: center; }
	#main_footer .side.right .menu-block-wrapper > .menu > li { float: none; display: inline-block; margin: 0 7px; }
	#main_footer .side.right p a { margin: 0; }
	#main_footer .side.right p span { display: block; text-align: center; margin-top: 20px; }

	/* Partner Logos */

	#partners .list { text-align: center; }
	#partners .list a { float: none; display: inline-block; margin: 0 7px 15px 7px; }

}

@media all and (max-width : 380px) {

	/* Navigation */

	#main_nav .login_btn { top: 40px; font-size: 14px; }
	#menu_overlay .navigation .login_btn { top: 9px; font-size: 14px; }

}

@media all and (max-width : 360px) {

	/* Navigation */

	#menu_overlay .logo img, .logo img { height: 20px; margin-top: 0; }

}